/* Home Page*/
.rc-card:hover, .rc-card.home:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }
  .rc-card.home .icon {
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
  }
  .rc-card.home .icon img{
    width: 100%;
  }
  .rc-card.home .icon img.rc-img-hide{
    display: none;
  }
  .rc-card.home:hover .icon img.rc-img{
    display: none;
  }
  .rc-card.home:hover mat-card-title{
    color: var(--rc-primary-color);
  }
  .rc-card.home:hover .icon img.rc-img-hide{
    display: inline-block;
  }
  .rc-card.home .rc-card.home-icon mat-icon {
    color: var(--rc-primary-light-color);
    font-size: 50px;
    width: 50px;
    height: 50px;
  }
    @media (max-width: 374px){
      .rc-card.home .icon {
          width: 70px;
          height: 70px;
      }
      .rc-card.home .rc-card.home-icon mat-icon {
          font-size: 40px;
          width: 40px;
          height: 40px;
      }
    }
  .rc-card.home mat-card-title{
    color: #706f6f;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 1rem;
  }
  .rc-card.home mat-card-content{
    color: var(--rc-text-light-color);
  }
  .rc-card.home mat-card-actions mat-icon {
    color: var(--rc-accent-color);
  }
  .rc-card.home mat-card-actions > button {
    background-color: transparent;
    border: none;
  }
  .rc-card.home mat-card-actions > button:hover {
    cursor: pointer;
  }