<h1 class="rc-main-title">Welcome!</h1>

<div fxLayout fxLayoutAlign="center" fxLayoutGap="20px" fxLayout.sm="column" fxLayout.xs="column">
  <!-- AHRI matchups -->
  <!-- <mat-card fxFlex="31" fxFlex.sm="80" fxFlex.xs="100" class="rc-card home" routerLink="ahri-matchups">
    <div class="icon" fxLayout fxLayoutAlign="center center">
      <img src="../../../../assets/images/icons/ahri-matchups.png" class="rc-img" alt="">
      <img src="../../../../assets/images/icons/ahri-matchups-active.png" class="rc-img-hide" alt="">
    </div>
    <mat-card-title>AHRI Matchups</mat-card-title>
    <mat-card-content>
      <p>
        The quickest and easiest way to find in-stock AHRI matchups for any project.
      </p>
      <div class="rc-img-float">
        <img src="../../../assets/images/new.png" alt="New app">
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="end">
      <button>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card> -->
  <!-- AHRI matchups end -->

  <!-- Rebate finder -->
  <mat-card fxFlex="31" fxFlex.sm="80" fxFlex.xs="100" class="rc-card home" routerLink="rebate-finder">
    <div class="icon" fxLayout fxLayoutAlign="center center">
      <img src="../../../../assets/images/icons/rebate-finder.png" class="rc-img" alt="">
      <img src="../../../../assets/images/icons/rebate-finder-active.png" class="rc-img-hide" alt="">
    </div>
    <mat-card-title>Rebate Finder</mat-card-title>
    <mat-card-content>
      <p>
        Browse available rebates and find equipment that meets specific rebate programs.
      </p>
      <div class="rc-img-float">
        <img src="../../../assets/images/new.png" alt="New app">
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="end">
      <button>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <!-- Rebate finder end-->

  <!-- i now my model -->
  <!-- <mat-card fxFlex="31" fxFlex.sm="80" fxFlex.xs="100" class="rc-card home" routerLink="i-know-my-model-nr">
    <div class="icon" fxLayout fxLayoutAlign="center center">
      <img src="../../../../assets/images/icons/model-nrs.png" class="rc-img" alt="">
      <img src="../../../../assets/images/icons/model-nrs-active.png" class="rc-img-hide" alt="">
    </div>
    <mat-card-title>I know my model nrs.</mat-card-title>
    <mat-card-content>
      <p>
        View AHRI ratings and available rebates for a known combination of model nrs.
      </p>
      <div class="rc-img-float">
        <img src="../../../assets/images/new.png" alt="New app">
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="end">
      <button>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card> -->
  <!-- i now my model end -->
</div>

<br>

<!-- release notes  -->
<div fxLayout fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout.sm="column" fxLayout.xs="column">
  <div fxFlex="96" fxFlex.sm="96" fxFlex.xs="96" class="rc-alert warning">
    <mat-icon>error</mat-icon>
    <p>
      <span><b>DCNE</b> is pleased to announce the new rebate calculator is now out as a public <a href="https://simplicable.com/new/beta-release" target="_blank" class="rc-link">beta
        release!</a></span> <br>
      This is an early release and functionality is still limited, we appreciate your understanding. <br>
      We are working hard to roll out improvements and new features.
  </div>
</div>

<div fxLayout fxLayoutAlign="center" fxLayoutGap="16px" fxLayout.sm="column" fxLayout.xs="column">
  <div fxFlex="96" fxFlex.sm="100" fxFlex.xs="100" class="rc-note">
    <p>
      If you have any feedback or notice any issues please reach out to <span class="rc-email"><b>Darrell
          Curley</b></span> <i class="rc-small">(dcurley at dcne dot com)</i>, <span class="rc-email"><b>Bill
          Fiore</b></span> <i class="rc-small">(bfiore at dcne dot com)</i> or your TM.
    </p>
  </div>
</div>