<mat-stepper #stepper linear  >

    

    <!-- step 6 results -->
    <mat-step>
        <ng-template matStepLabel>AHRI Combinations</ng-template>

        <form [formGroup]="outdoorGroup">
            <!-- utilities -->
            <mat-form-field appearance="fill">
                <mat-label>outdoorUnits</mat-label>
                <mat-select #sGroup formControlName="outdoor" (selectionChange)="changeOutdoor()">
                <mat-option *ngFor ="let outdoorUnit of outdoorUnits; let i = index" [value]="outdoorUnit.id"  radioGroup="sGroup">
                    {{outdoorUnit.id}}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
       

        <!-- <h2 class="rc-main-title">AHRI Combinations</h2> -->
        <app-card
        *ngFor="let indoor of indoors"
        [indoor]="indoor"
        [master]="master"
        ></app-card>

        <!-- <h2>Source code version</h2>
        <button type="button" (click)="newMinor()">New minor version</button>
        <button type="button" (click)="newMajor()">New major version</button>
        <app-card [major]="major" [minor]="minor"></app-card> -->
    </mat-step> 
  
  </mat-stepper>