<mat-stepper #stepper linear  >

    <!-- step 1 location -->
    <mat-step>
        <ng-template matStepLabel>Location</ng-template>
        <app-location></app-location>
        <!-- button -->
        <div fxLayout="column" fxLayoutAlign="center end" class="rc-stepper-buttons">
            <button type="button" mat-raised-button color="primary" [disabled]="desableButton">
                Continue
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </mat-step>

    <!-- step 2 dwelling info -->
    <mat-step>
        <ng-template matStepLabel>Dwelling info</ng-template>
        <!-- <app-dwelling-info></app-dwelling-info> -->
        <!-- button -->
        <div fxLayout="column" fxLayoutAlign="center end" class="rc-stepper-buttons">
            <button type="button" mat-raised-button color="primary" matStepperNext>
                Continue
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </mat-step>

    <!-- step 3 rebate eligibility-->
    <mat-step>
        <ng-template matStepLabel>Rebate eligibility</ng-template>
        <!-- <app-rebate-eligibility></app-rebate-eligibility> -->
        <!-- button -->
        <div fxLayout="column" fxLayoutAlign="center end" class="rc-stepper-buttons">
            <button type="button" mat-raised-button color="primary" matStepperNext>
                Continue
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </mat-step>

    <!-- step 4 heated / cooled -->
    <mat-step>
        <ng-template matStepLabel>Heated - Cooled</ng-template>
        <!-- <app-heated-cooled></app-heated-cooled> -->
        <!-- button -->
        <div fxLayout="column" fxLayoutAlign="center end" class="rc-stepper-buttons">
            <button type="button" mat-raised-button color="primary" matStepperNext>
                Continue
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </mat-step>

    <!-- step 5 nominal size -->
    <mat-step>
        <ng-template matStepLabel>Nominal size</ng-template>
        <!-- <app-nominal-size></app-nominal-size> -->
        <!-- button -->
        <div fxLayout="column" fxLayoutAlign="center end" class="rc-stepper-buttons">
            <button type="button" mat-raised-button color="primary" matStepperNext>
                Continue
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </mat-step>

    <!-- step 6 results -->
    <mat-step>
        <ng-template matStepLabel>AHRI Combinations</ng-template>
        <!-- <h2 class="rc-main-title">AHRI Combinations</h2> -->
        <app-card></app-card>
    </mat-step>
  
  </mat-stepper>