
<mat-stepper #stepper linear >

    <!-- step 1 location -->
    <mat-step>
        <app-location></app-location>
    </mat-step>
    <!-- step 2 location end -->

    <!-- step 2 dwelling info -->
    <mat-step>
        <app-dwelling-info></app-dwelling-info>
    </mat-step>
    <!-- step 2 dwelling info end -->

    <!-- step 3 rebate eligibility-->
    <mat-step>
        <app-rebate-eligibility></app-rebate-eligibility>
    </mat-step>
    <!-- step 3 rebate eligibility end -->

    <!-- step 4 heated / cooled -->
    <mat-step>
        <app-heated-cooled></app-heated-cooled>
    </mat-step>
    <!-- step 4 heated / cooled end -->

    <!-- step 5 nominal size -->
    <mat-step>
        <app-nominal-size></app-nominal-size>
    </mat-step>
    <!-- step 5 nominal size end -->

    <!-- step 6 results -->
    <mat-step>
        <rf-results></rf-results>
    </mat-step>
    <!-- step 6 results end -->

</mat-stepper>

