<!--system_design
            <div fxFlex="25" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="70"
                fxFlex.md="25" fxLayoutGap="16">
                <div class="rc-hvac-unit-card">
                    <div class="icon">
                        <img src="../../../../assets/images/icons/outdoor_icon.png" alt="" class="unchecked">
                    </div>
                    <div class="information">
                        <div class="item">
                            <span>Unit Type</span>
                            <p>Outdoor Unit</p>
                        </div>
                        <div class="item">
                            <span>System Type</span>
                            <p>Split System</p>
                        </div>
                        <div class="item">
                            <span>HVAC Type</span>
                            <p>HP</p>
                        </div>
                        <div class="item">
                            <span>HP Heating Capacity</span>
                            <p>30000</p>
                        </div>
                    </div>  
                </div>
            </div>
            
            <div fxFlex="25" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="25">
                <div class="rc-hvac-unit-card">
                    <div class="icon">
                        <img src="../../../../assets/images/icons/indoor_icon.png" alt="" class="unchecked">
                    </div>
                    <div class="information">
                        <div class="item">
                            <span>Unit Type</span>
                            <p>Indoor Unit</p>
                        </div>
                        <div class="item">
                            <span>System Type</span>
                            <p>Mini-split</p>
                        </div>
                        <div class="item">
                            <span>msUnit Type</span>
                            <p>Cassete</p>
                        </div>
                        <div class="item">
                            <span>Cooling Capacity</span>
                            <p>6000</p>
                        </div>
                        <div class="item">
                            <span>Quantity</span>
                            <p>2</p>
                        </div>
                    </div>  
                </div>
            </div>
            
            <div fxFlex="25" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="70"
                fxFlex.md="25">
                <div class="rc-hvac-unit-card">
                    <div class="icon">
                        <img src="../../../../assets/images/icons/furnace_icon.png" alt="" class="unchecked">
                    </div>
                    <div class="information">
                        <div class="item">
                            <span>Unit Type</span>
                            <p>Furnace</p>
                        </div>
                        <div class="item">
                            <span>System Type</span>
                            <p>New</p>
                        </div>
                    </div>  
                </div>
            </div>-->
            <!--Add new-->
            <div fxFlex="25" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="25">
                <button class="rc-hvac-unit-add" (click)="addEditSystemDesign()">
                    <div class="icon">
                        <mat-icon>add</mat-icon>
                    </div>
                    <span>ADD NEW</span>    
                </button>
            </div>
            <!--- If indoor unit type is mini-split, show indoor unit design table. --> 
