<form [formGroup]="dwellingInfoForm" class="rc-form">

    <!-- Construction type -->
    <h4 class="rc-page-subtitle">Construction type</h4>
    <mat-label class="rc-indications">Select your construction type.</mat-label>
    <br>
    <mat-radio-group formControlName="constructionType">
        <mat-radio-button value="new-construction">New construction</mat-radio-button>
        <br>
        <mat-radio-button value="existing-construction">Existing construction</mat-radio-button>
    </mat-radio-group>

    <!-- Fossil Fuel -->
    <h4 class="rc-page-subtitle rc-mt-large">Fossil Fuel</h4>
    <mat-label class="rc-indications">Select type of fossil fuel available at the residence.</mat-label>
    <mat-radio-group #rGroup formControlName="fuelSource" fxLayout="column" class="rc-radio-img">
        <div fxLayout="row column" fxLayoutAlign="space-between center" fxLayoutGap="20px grid">
            <mat-radio-button [value]="'Natural Gas'" radioGroup="rGroup" fxFlex="25" fxFlex.xs="50" fxFlex.sm="25">
                <img src="../../../../assets/images/icons/natural-gas.png" alt="" class="unchecked">
                <img src="../../../../assets/images/icons/natural-gas-active.png" alt="" class="checked">
                <p>Natural Gas</p>
            </mat-radio-button>
            <mat-radio-button [value]="'Propane Gas'" radioGroup="rGroup" fxFlex="25" fxFlex.xs="50" fxFlex.sm="25">
                <img src="../../../../assets/images/icons/propane.png" alt="" class="unchecked">
                <img src="../../../../assets/images/icons/propane-active.png" alt="" class="checked">
                <p>Propane</p>
            </mat-radio-button>
            <mat-radio-button [value]="'Oil'" radioGroup="rGroup" fxFlex="25" fxFlex.xs="50" fxFlex.sm="25">
                <img src="../../../../assets/images/icons/heating-oil.png" alt="" class="unchecked">
                <img src="../../../../assets/images/icons/heating-oil-active.png" alt="" class="checked">
                <p>Heating Oil</p>
            </mat-radio-button>
            <mat-radio-button [value]="'None'" radioGroup="rGroup" fxFlex="25" fxFlex.xs="50" fxFlex.sm="25">
                <img src="../../../../assets/images/icons/none.png" alt="" class="unchecked">
                <img src="../../../../assets/images/icons/none-active.png" alt="" class="checked">
                <p>None</p>
            </mat-radio-button>
        </div>
    </mat-radio-group>

    <!-- note -->
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="16px" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="100" fxFlex.sm="100" fxFlex.xs="100" class="rc-note">
            <p class="rc-small"> <b>Note: </b> The rebate calculator will show all possible installations, including
                fully electric HVAC systems. Selecting a fossil fuel type only helps us show relevant search results but
                it is not required that a fossil fuel component (furnace, boiler) is part of the final HVAC system.</p>
        </div>
    </div>
    
</form>