<h1 mat-dialog-title>Combination ratings with outdoor unit:
  <b>{{this.getComponentByComponentType(mySystems[0].components, "Outdoor unit").title}}</b></h1>

<div mat-dialog-content>
  <div class="table-overflow">
    <table>
      <thead>
        <tr>
          <th>N°</th>
          <th *ngFor="let unit of mySystems[0].components">{{unit.componentType|uppercase}}</th>
          <th>Configuration</th>
          <th *ngFor="let rating of myColumnRatings">
            {{ rating | uppercase }}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ahriCombination of mySystems; index as i">
          <td data-title="n°">{{i+1}}</td>
       
          <td *ngFor="let td of mySystems[0].components" [attr.data-title]="this.getComponentByComponentType(mySystems[0].components, td.componentType)?.componentType"
            matTooltip="{{this.getComponentByComponentType(ahriCombination.components, td.componentType)?.title}}" 
            matTooltipPosition="right">
            {{this.getComponentByComponentType(ahriCombination.components, td.componentType)?.title||"N/A"}}
          </td>
     
          <td data-title="configuration" *ngIf="ahriCombination.configurationOptions" data-title="Configuration">
            <ul *ngFor="let configuration of ahriCombination.configurationOptions" class="rc-list-in-table">
              <li>{{configuration.name}}</li>
            </ul>
            <span *ngIf="ahriCombination.configurationOptions.length == 0">N/A</span>
          </td>

          <td *ngFor="let rating of myColumnRatings">
            {{ getRating(ahriCombination.AHRIRatings, rating) }}
          </td>
         
          <td data-title="Details">
            <a mat-button class="rc-btn rc-btn-secondary" fxLayout fxLayoutAlign="center center" [routerLink]="['/print', JSON.stringify(ahriCombination)]" target="_blank">
              <mat-icon>print</mat-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()" class="rc-detail-button" fxLayout fxLayoutAlign="center center">
    Close
  </button>
</div>