<h1 mat-dialog-title>Combination ratings with outdoor unit:
  <b>{{this.getComponentByComponentType(mySystems[0].components, "Outdoor unit").title}}</b></h1>

<div mat-dialog-content>
  <div class="table-overflow">
    <table>
      <thead>
        <tr>
          <th>N°</th>
          <th *ngFor="let unit of mySystems[0].components">{{unit.componentType|uppercase}}</th>
          <th>Configuration</th>
          <ng-container *ngFor="let ratings of mySystems[0].AHRIRatings">
            <th *ngFor="let key of Object.keys(ratings)">{{key}}</th>
          </ng-container>
          <th>TOTAL AVAILABLE REBATES</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ahriCombination of mySystems; index as i">
          <td data-title="n°">{{i+1}}</td>

          <td data-title="{{unit.componentType}}" *ngFor="let unit of ahriCombination.components"
            data-title="{{unit.componentType}}" matTooltip="{{unit.title}}" matTooltipPosition="right">{{unit.title}}
          </td>

          <td data-title="configuration" *ngIf="ahriCombination.configurationOptions" data-title="Configuration">
            <ul *ngFor="let configuration of ahriCombination.configurationOptions" class="rc-list-in-table">
              <li>{{configuration.name }}</li>
            </ul>
          </td>
          <ng-container *ngFor="let ratings of mySystems[0].AHRIRatings">
            <td *ngFor="let key of Object.keys(ratings)">{{ratings[key]}}</td>
          </ng-container>

          <td data-title="Total rebate">{{ahriCombination.availableRebateAmount | currency:"USD":"symbol" : '1.0-0'}}
          </td>
          <td data-title="Details">
            <button class="rc-btn rc-btn-secondary" (click)="sendModelNrs(ahriCombination)">
              <mat-icon>search</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()" class="rc-detail-button" fxLayout fxLayoutAlign="center center">
    Close
  </button>
</div>