<form [formGroup]="headedCooledGroup">
    <h2 class="rc-main-title">Heated and cooled</h2>
    
    <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="32">
        <div fxFlex="25" fxLayout="column" fxLayoutAlign="left stretch" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="25">
            <mat-radio-group formControlName="cooledControl" (change)="submitInputs()">
                <mat-label>Provide colling?</mat-label>
                <br>
                <mat-radio-button value="yes">Yes</mat-radio-button>
                <mat-radio-button value="no">No</mat-radio-button>
            </mat-radio-group>
            <br>
            <mat-radio-group formControlName="heatedControl" (change)="submitInputs()">
                <mat-label>Provide heating?</mat-label>
                <br>
                <mat-radio-button value="yes">Yes</mat-radio-button>
                <mat-radio-button value="no">No</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</form>

