/* Result Filter panel */
::ng-deep .result-filters .mat-checkbox,
::ng-deep .result-filters .mat-radio-button{
    display: block;
}
::ng-deep .result-filters .mat-checkbox-layout{
    white-space: normal;
}
::ng-deep .result-filters .mat-checkbox-inner-container {
    margin-top: 5px;
}
::ng-deep .result-filters .mat-radio-group{
    display: block !important;
}

result-filters
/* End Filter panel */

/* ToolTip */
.cdk-overlay-pane.mat-tooltip-panel .mat-tooltip {
    color: var(--rc-text-color);
    background-color: white;
    border: 1px solid #474747;
    border-radius: 3px;
    font-size: 12px;
    padding: .5rem 1rem;
}
/* End ToolTip */

/*Filter*/
.mat-expansion-panel-header.mat-expanded{
    height: auto;
    padding: 1rem;
}
.mat-expansion-panel-header .mat-icon{
    height: 18px;
    width: 20px;
    font-size: 18px;
}
.mat-expansion-panel-header[aria-disabled=true] {
    color: var(--rc-text-color) !important;
    font-weight: bold;
}
.text-no-results{
    text-align: center;
    text-transform: uppercase;
    color: var(--rc-text-light-color);
    font-weight: bold;
    font-size: 22px;
}
.title-info-icon{
    display: inline-flex;
    justify-items: center;
    align-items: center;
}
.title-info-icon .mat-icon{
    font-size: 12px;
    height: 14px;
    width: 14px;
    margin-left: 5px;
    color: #7a7a7a;
    
}












/*----------------------------*/
.rc-rebates {
    padding: .5rem;
  }
  .rc-rebates .list{
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #f8f8f8;
    background-color: #fbfbfb;
    font-size: 12px;  
    line-height: 14px;
  }
  .rc-rebates .list .mat-icon{
      font-size: 16px;
      height: 16px;
      width: 20px;
      color: red;
      margin: 5px 5px 0 0;
  }
  .rc-rebates .list .mat-icon.available{
      color: #13c013;
  }
  .rc-rebates .list li{
    margin-bottom: .5rem;  
  }
  .rc-rebates .list span.title{
    font-weight: 500;
    padding-right: 5px;
    display: flex;
    align-items: start;
  }
  .rc-rebates .list span.description{
    font-size: 11px;
    display: block;
    padding-left: 25px;
    line-height: 1rem;
    color: #999999;
  }