/* Result Filter panel */
::ng-deep .result-filters .mat-checkbox,
::ng-deep .result-filters .mat-radio-button{
    display: block;
}
::ng-deep .result-filters .mat-checkbox-layout{
    white-space: normal;
}
::ng-deep .result-filters .mat-checkbox-inner-container {
    margin-top: 5px;
}
::ng-deep .result-filters .mat-radio-group{
    display: block !important;
}

result-filters
/* End Filter panel */

/* ToolTip */
.cdk-overlay-pane.mat-tooltip-panel .mat-tooltip {
    color: var(--rc-text-color);
    background-color: white;
    border: 1px solid #474747;
    border-radius: 3px;
    font-size: 12px;
    padding: .5rem 1rem;
}
/* End ToolTip */

/*Filter*/
.mat-expansion-panel-header.mat-expanded{
    height: auto;
    padding: 1rem;
}
.mat-expansion-panel-header .mat-icon{
    height: 18px;
    width: 20px;
    font-size: 18px;
}
.mat-expansion-panel-header[aria-disabled=true] {
    color: var(--rc-text-color) !important;
    font-weight: bold;
}
.text-no-results{
    text-align: center;
    text-transform: uppercase;
    color: var(--rc-text-light-color);
    font-weight: bold;
    font-size: 22px;
}