<div fxLayout="row column" fxLayoutAlign="center center" fxLayoutGap="16">
    <div class="rc-radio-options">
      <form  [formGroup]="productLinesForm">
        <mat-radio-group aria-label="Select an option"  formControlName="productLine">
          <mat-radio-button *ngFor="let productLine of productLines; let i = index"  [value]="productLine.id" matTooltip='{{productLine.description}}'>
            {{productLine.title}}
          </mat-radio-button>
        </mat-radio-group>
      </form>
    </div>
  </div>