
<form [formGroup]="rebateGroup">
    <!-- elegibility questions -->
    <h2 class="rc-main-title">Eligibility questions</h2>
    <div *ngFor ="let question of myEligibilityQuestions">
        <strong>{{question.questionText}}</strong>
        <div class="rc-elegibility-questions">
          <mat-radio-group formControlName="eligibilityQuestionsControl" (change)="ProcesEligybilityQuestions(question.questionId)" aria-label="Select an option" >
            <mat-radio-button *ngFor="let myOption of question.options" [value]="myOption">
                {{myOption}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
    </div>

    <!-- elegibility requirement -->
    <h2 class="rc-main-title">Eligibility requirement</h2>
    <div *ngFor ="let requirement of myEligybilityRequirement">
        <strong>{{requirement.requirementText}}</strong>
        <div class="rc-elegibility-questions">
          <mat-radio-group formControlName="eligybilityRequirementControl" (change)="ProcesEligybilityRequirement(requirement.requirementId)" aria-label="Select an option">
            <mat-radio-button *ngFor="let option of requirement.options" [value]="option">
                {{option}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
    </div>

</form>

