<form [formGroup]="eligibilityForm">

  <!-- elegibility questions -->
  <h2 class="rc-main-title">Eligibility questions</h2>

  <section formArrayName="eligibilityQuestions">
    <ng-container *ngFor="let eq of this.myEligibilityQuestions; let i = index" [formGroupName]="i">
      <strong>{{eq.questionText}}</strong>
      <div class="rc-elegibility-questions">
        <mat-radio-group formControlName="answer">
          <mat-radio-button class="example-radio-button" *ngFor="let myOption of eq.options" [value]="myOption">
            {{myOption}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </ng-container>
  </section>

  <!-- elegibility requirement -->
  <h2 class="rc-main-title">Eligibility requirements</h2>

  <section formArrayName="eligibilityRequirements">
    <h4>Select the requirements you meets:</h4>
    <label *ngFor="let er of this.myEligibilityRequirements; let i = index">
      <ng-container [formGroupName]="i">
        <mat-checkbox formControlName="requirement">
          {{ er.requirementText }}
        </mat-checkbox>
      </ng-container>
    </label>
  </section>

</form>