<h2 class="rc-main-title">System design</h2>


<button mat-button (click)="ShowAllResults()">Show all combinations.</button>
<br>

<mat-label>Select the combination.</mat-label>
<form  [formGroup]="systemDesing">

  <!-- Outdoor unit -->
  <mat-form-field appearance="fill">
    <mat-label>Outdoor unit type:</mat-label>
    <mat-select #sGroup formControlName="outdoorControl" (selectionChange)="submitInputs()">
      <mat-option *ngFor ="let outdoor of outdoors" value="{{outdoor}}" radioGroup="sGroup">
        {{outdoor}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <!-- Indoor unit -->
  <mat-form-field appearance="fill">
    <mat-label>Indoor unit type:</mat-label>
    <mat-select #sGroup formControlName="indoorControl" (selectionChange)="selectIndoor()">
      <mat-option *ngFor ="let indoor of indoors" value="{{indoor}}" radioGroup="sGroup">
        {{indoor}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br> 

  <!-- Furnace type -->
  <mat-form-field appearance="fill">
    <mat-label>Furnace type:</mat-label>
    <mat-select #sGroup formControlName="furnaceControl" (selectionChange)="submitInputs()">
      <mat-option *ngFor ="let furnaceType of furnacesType" value="{{furnaceType}}" radioGroup="sGroup">
        {{furnaceType}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <!-- Furnace configuration -->
  <mat-form-field appearance="fill">
    <mat-label>Furnace configuration:</mat-label>
    <mat-select #sGroup formControlName="furnaceConfigurationControl" (selectionChange)="submitInputs()">
      <mat-option *ngFor ="let furnaceConfiguration of furnacesConfiguration" value="{{furnaceConfiguration}}" radioGroup="sGroup">
        {{furnaceConfiguration}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <!-- number of zones -->
  <div *ngIf="showNrbZones">
    <br>
    <mat-label>Select number of zones</mat-label>
    <br>
    <mat-radio-group formControlName="numberZonesControl" (change)="NumberZones()" aria-label="Select an option"  >
      <mat-radio-button value="Multi-zone"> Multi-zone </mat-radio-button>
      <br>
      <mat-radio-button  value="Single zone"> Single zone</mat-radio-button>
    </mat-radio-group>
  </div>

</form>


<form *ngIf="showTable" [formGroup]="indoorUnitTable">

  <table>
    <thead>
      <tr>
        <th >qty</th>
        <th >unit type</th>
        <th>size</th>
        <th>add</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- rows added -->
      <tr  *ngFor="let pl of payload; index as i">
        <td>{{pl.qty}}</td>
        <td>{{pl.unitType}}</td>
        <td>{{pl.size | number}}</td>
        <td></td>
        <td>
          <button  (click)="DeleteRow(i+1)" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>restore_from_trash</mat-icon>
          </button>
        </td>
      </tr>
      <!-- row to add  -->
      <tr>
        <td >
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select #sGroup formControlName="quantityControl" (selectionChange)="ShowButtons()">
              <mat-option *ngFor ="let qty of quantity" value="{{qty}}" radioGroup="sGroup">
                {{qty}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select #sGroup formControlName="unitTypeControl" (selectionChange)="ShowButtons()">
              <mat-option *ngFor ="let unitTipe of unitTipes" value="{{unitTipe}}" radioGroup="sGroup">
                {{unitTipe}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td >
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select #sGroup formControlName="sizeControl" (selectionChange)="ShowButtons()">
              <mat-option *ngFor ="let sizeOption of sizeOptions" value="{{sizeOption}}" radioGroup="sGroup">
                {{sizeOption}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <button *ngIf="showButtonAdd" (click)="AddRow()"  mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>check_circle</mat-icon>
          </button>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</form>
