/* Global variables */
:root {
  --rc-primary-color: #1565C0;
  --rc-primary-light-color: #5e92f3;
  --rc-primary-dark-color: #003c8f;
  --rc-accent-color: #FFA000;
  --rc-warn-color: #B71C1C;
  /*Text colors*/
  --rc-text-color: #292929;
  --rc-text-light-color: #606060;
}

/* Gobal style */
body {
  background-color: #fcfcfc;
  line-height: 1.5rem;
}

*, body, p {
  margin: 0;
  font-family: 'Bitter', serif;
}

main{
  min-height: calc(100% - 84px);
  padding-bottom: 1.5rem;
  background-color: #fbfbfb;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}
.bitter-font{
  font-family: 'Bitter', serif !important;
}

/* Classes used in general in the style of the whole app */
.rc-lead{
  font-size: 18px;
}

.rc-email{
  color: var(--rc-accent-color);
}

.rc-small{
  font-size: 80%;
}

.rc-mt-5{
  margin-top: -9px;
}

.rc-show{
  display: initial;
}
.rc-hide{
  display: none;
}

@media only screen and (max-width:960px){
  .rc-show-md{
    display: inline-block;
  }
  .rc-hide-md{
    display: none;
  }
}
@media only screen and (max-width:767px){
  .rc-show-sm{
    display: inline-block;
  }
  .rc-hide-sm{
    display: none;
  }
}

.rc-img-float{
  position: absolute;
  top: 10px;
  right: 10px;
}
.rc-img-float img{
  width: 70px;
  height: auto;
  transform: rotate(50deg);
}

/* Start Change Style ToolTip Component*/
.cdk-overlay-pane.mat-tooltip-panel .mat-tooltip {
  color: var(--rc-text-color);
  background-color: white;
  border: 1px solid #474747;
  border-radius: 3px;
  font-size: 12px;
  padding: .5rem 1rem;
}
/* End Change Style ToolTip Component*/

.rc-radio-label{
  color: var(--rc-text-light-color);
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
}

/* Start title in page*/
  .rc-main-title {
    text-align: center;
    font-size: 1.75rem !important;
    text-transform: uppercase;
    color: var(--rc-primary-dark-color);
    margin: 2rem 0 !important;
  }
  .rc-main-title::after {
    content: '';
    border-bottom: solid 3px var(--rc-accent-color);
    width: 50px;
    display: block;
    margin: .75rem auto;
  }
  .rc-page-subtitle{
    color: #434343;
    margin-bottom: 5px !important;
    text-align: start;
    margin-top: 1rem;
  }
  .rc-indications{
    color: #656565;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 8px;
  }
  .rc-label{
    margin: 16px 0 8px 0;
    display: block;

  }
/* End title in page*/

/* Start Alerts*/
  .rc-alert{
    position: relative;
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    border: 0;
    border-radius: 0.5rem;
  }
  .rc-alert p{
    margin-left: 1rem;
  }
  .rc-alert .rc-link {
    border-bottom: thin dashed;
    font-weight: bold;
  }
  .rc-alert mat-icon{
    position: absolute;
    z-index: 0;
    font-size: 3rem;
    top: .5rem;
    left: .5rem;
  }
  /* Start Warning Alert*/
    .rc-alert.warning{
      color: #640;
      background-color: #fec;
      border-color: #FFE5B3;
    }
    .rc-alert.warning .rc-link {
      color: #640;
    }
    .rc-alert.warning mat-icon{
      color: rgba(102, 68, 0, 0.22);
    }
  /* End Warning Alerts*/

  /* Start Info Alert*/
    .rc-alert.info{
      color: #006594;
      background-color: #e1f0f7;
      border-color: #c1e7f9;
    }
    .rc-alert.info .rc-link {
      color: #025b8c;
    }
    .rc-alert.info mat-icon{
      color: rgba(33, 96, 147, 0.12);
    }
  /* End Info Alerts*/
/* End Alerts*/

/* Start Notes */
  .rc-note {
    margin: 1rem 0;
    padding: 10px;
    border-left: 6px solid;
    border-radius: 5px;
    background-color: white;
    border-color: var(--rc-primary-color);
  }
/* End Notes */

/* Start header */
  .rc-header {
    padding: 16px;
    background-color: white;
  }
  .rc-header .rc-container{
    padding-top: 0;
  }
  .rc-header h1{
    margin: 0 !important;
    color: var(--rc-primary-color);
    font-weight: bold !important;
  }
  .rc-header img{
    width: 150px;
  }

  @media only screen and (max-width: 676px){
    .rc-header h1{
      font-size: 26px;
    }
    .rc-header img {
      width: 100px;
    }
  }
  @media only screen and (max-width: 424px){
    .rc-header h1{
      font-size: 22px;
    }
  }
/* End header */

/* Start breadcrumb */
  .xng-breadcrumb-root {
    padding: 16px 16px;
    background-color: var(--rc-primary-color);
    font-family: 'Bitter', serif;
  }
  .xng-breadcrumb-root .xng-breadcrumb-link  {
    color:#cfcdcd;
  }
  .xng-breadcrumb-root .xng-breadcrumb-trail  {
    color: white;
  }
  .xng-breadcrumb-separator {
    color: white;
    padding: 0 4px;
  }
/* End breadcrumb */

/* Start container */
  .rc-container, .xng-breadcrumb-root .xng-breadcrumb-list {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .rc-container {
    padding-top: 1.5rem;
  }
    @media screen and (min-width: 1400px){
      .rc-container, .xng-breadcrumb-root .xng-breadcrumb-list{
        width: 1320px;
      }
    }
    @media screen and (min-width: 992px) and (max-width: 1199px){
      .rc-container, .xng-breadcrumb-root .xng-breadcrumb-list{
        width: 960px;
      }
    }
    @media screen and (min-width: 960px) and (max-width: 991px){
      .rc-container, .xng-breadcrumb-root  .xng-breadcrumb-list{
        width: 900px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 959px){
      .rc-container, .xng-breadcrumb-root  .xng-breadcrumb-list{
        width: 760px;
      }
    }
    @media screen and (min-width: 576px) and (max-width: 767px){
      .rc-container, .xng-breadcrumb-root .xng-breadcrumb-list{
        width: 540px;
      }
    }
    @media screen and (max-width: 575px){
      .rc-container, .xng-breadcrumb-root  .xng-breadcrumb-list{
        width: 90%;
        padding-left: 0;
        padding-right: 0;
      }
    }
/* End container */

/* ******************************************************Estilo para eliminar al cambiar los resultados a cards*/
  /* Start Table responsive */
    .table-overflow{
      display: block;
      overflow-x: auto;
    }
      @media screen and (max-width: 767px){
        .table-overflow{
          overflow-x: initial;
        }
      }
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      display: table;
      border: 1px solid #DEE2E6;
    }
    table thead th {
      vertical-align: bottom;
      font-weight: bold;
      font-size: .785rem;
    }
    table th, table td {
      text-align: left;
      padding-top: 1.1rem;
      padding-bottom: 1rem;
    }
    table td {
      font-family: 'Bitter', serif;
    }
    table tbody tr:nth-of-type(odd) {
      background-color: #F3F3F3;
    }
    table tbody tr:nth-of-type(even) {
      background-color: white;
    }
      @media (min-width: 768px) {
        table th:not(.nkn-hide-s):not(.nkn-hide-m):not(.nkn-hide-l),
        table td:not(.nkn-hide-s):not(.nkn-hide-m):not(.nkn-hide-l) {
            display: table-cell;
        }
        table tr {
            border: solid 1px var(--nkn-border-color);
        }
        thead th {
            color: white !important;
            font-weight: 500;
            background-color: var(--rc-primary-dark-color);;
            padding: .75rem;
            text-transform: uppercase;
        }
        td {
            padding: .75rem;
        }
      }
      @media (max-width: 767px) {
        table{
            border: none;
        }
        table thead {
            display: none;
        }
        table tr {
            display: block;
            margin: .5rem 0;
            border: solid 1px #DEE2E6;
            border-radius: 4px;
        }
        table td {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: .5rem;
            width: 90%;
            border: none;
            padding: 0 .5rem;
        }
        /*label for cell*/
        table td:before {
            content: attr(data-title) " :";
            color: var(--rc-text-light-color);
            width: 40%;
            padding-right: .5rem;
            overflow: hidden;
            -o-text-overflow: ellipsis;
              text-overflow: ellipsis;
            overflow-wrap: break-word;
            font-size: .75rem;
            background-color: white;
            font-family: 'Raleway', sans-serif;
        }
        tbody tr,  table tbody tr:nth-of-type(odd) {
            background-color: white;
        }
      }
  /* End Table responsive */

  /*List in table without paddin start*/
    .rc-list-in-table{
      padding-inline-start: 20px;
    }

/* Start footer */
  footer {
    height: 60px;
    background-color: white;
  }
/* End footer */

/* Start Button styles */
  .rc-btn {
    line-height: normal;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    margin: 0em;
    padding: 1px 6px;
  }
  .rc-btn-primary{
    background-color: var(--rc-primary-color);
    color: white;
  }
  .rc-btn-secondary {
    background-color: white;
    border: 1px solid var(--rc-primary-color);
    border-radius: 4px;
    color: var(--rc-primary-color);
  }
  .rc-btn-secondary mat-icon {
    transform: scale(.75);
  }
/* End Button styles */

/* Start Card */
.rc-card{
  padding: 3rem 2rem !important;
  transition: box-shadow .3s;
}
@media (max-width: 767px){
  .rc-card{
    padding: 1rem;
  }
}
/* End Card */

/* Start Card with line */
  .rc-card.line, .rc-radio-img label.mat-radio-label {
    border: 1px solid lightgray;
    padding: 3rem 0.25rem;
    border-radius: 5px;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .rc-card.line img, .rc-radio-img img {
    width: 100px;
    height: 100px;
  }
  @media (min-width: 600px) and (max-width: 958px){
    .rc-card.line img, .rc-radio-img img {
      width: 70px;
      height: 70px;
    }
  }
  .rc-card.line p, .rc-radio-img p {
    text-align: center;
    margin: 3rem 0 0 0;
    font-weight: bold;
    color: var(--rc-text-light-color);
  }
  .rc-card.line:hover, .rc-radio-img label.mat-radio-label:hover {
    box-shadow: 0 0 11px rgb(33 33 33 / 20%);
    background-color: white;
    cursor: pointer;
  }
  .rc-card.line img.checked,
  .rc-radio-img span.mat-radio-container,
  .rc-radio-img img.checked,
  .rc-radio-img .mat-radio-checked img.unchecked,
  .rc-radio-img label.mat-radio-label:hover img.unchecked,
  .rc-card.line:hover img.unchecked{
    display: none;
  }
  .rc-card.line:hover img.checked,
  .rc-radio-img .mat-radio-checked img.checked,
  .rc-radio-img label.mat-radio-label:hover img.checked {
    display: inline-block;
  }
  /* Start Radio button using card with line*/
    .rc-radio-img label.mat-radio-label .mat-radio-label-content {
      padding: 0 0 0 8px;
    }
    .rc-radio-img .mat-radio-checked label.mat-radio-label {
      border-color: var(--rc-accent-color);
    }
    .rc-radio-img .mat-radio-checked p{
      color: var(--rc-accent-color);
    }
  /* End Radio button using card with line*/
/* End Card with line */

/* Star Stepper styles */
  .mat-stepper-horizontal{
    background-color: transparent !important;
  }
  .rc-stepper-buttons{
    margin-top: 1.5rem;
  }
/* End Stepper styles */


/* Start Stock status*/
  .rc-filter-stock {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ececec;
    margin-bottom: 0.75rem;
    padding: 15px 10px;
  }
  .rc-filter-stock .mat-radio-button{
    margin-right: 1rem;
  }
/* End Stock status*/

/* Start HVAC Filters */
  .rc-filters{
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-top: 1rem;
  }
  .rc-filters .mat-expansion-panel-header{
    padding: 0.75rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 14px;
  }
  .rc-filters .mat-expansion-panel-header,
  .rc-filters .mat-expansion-panel-header.mat-expanded{
    height: auto;
    pointer-events: none;
  }
  .rc-filters .mat-expansion-panel-header .mat-expansion-indicator{
    display: none;
  }
  .rc-filters .mat-expansion-panel-header h4{
    padding-left: .5rem;
    color: var(--rc-primary-dark-color);
  }
  .rc-filters .mat-expansion-panel-header mat-icon{
    color: var(--rc-primary-dark-color);
  }
  @media (max-width: 959px){
    .rc-filters .mat-expansion-panel-header,
    .rc-filters .mat-expansion-panel-header.mat-expanded{
      pointer-events: initial;
    }
    .rc-filters .mat-expansion-panel-header .mat-expansion-indicator{
      display: initial;
    }
  }
  .rc-filters .mat-expanded .mat-expansion-panel-content{
    padding: 1rem;
    font-size: initial;
  }
  .rc-filters .mat-expansion-panel-content{
    padding: 0;
  }
  .rc-filters .mat-expansion-panel-content .mat-expansion-panel-body{
    padding: 0;
  }
  .rc-filters .mat-expansion-panel-content .mat-form-field{
    width: 100%;
  }
  .rc-filter-group{
    padding-left: 1rem;
  }
  .rc-filters-body h5{
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-family: 'Bitter',sans-serif;
  }
/* End HVAC Filters */

/* Start Product Lines Style*/
  .rc-tab-content{
    padding: 2rem 1rem;
    background-color: white;
  }
  @media only screen and (max-width: 767px){
    .rc-tab-content{
      padding: 0;
    }
  }
  .rc-radio-options{
    clear: both;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid var(--rc-primary-color);
    padding: 0 10px;
    position: relative;
    height: 45px;
  }
  @media only screen and (max-width: 959px){
    .rc-radio-options{
      height: 41px;
    }
  }
  .rc-radio-options span.mat-radio-container {
    position: absolute;
    left: -99999em;
    top: -99999em;
  }
  .rc-radio-options label{
    cursor: pointer;
    border: 1px solid #aaa;
    border-bottom: 0;
    background-color: #eeeeee;
    padding: 0.65rem 0.15rem;
    position: relative;
    color: #444;
    font-size: 14px;
  }
  .rc-radio-options label .mat-radio-container{
    font-family: 'Raleway', sans-serif !important;
  }
  .rc-radio-options .mat-radio-checked label.mat-radio-label{
    box-shadow: 0 3px 0 -1px #fff, inset 0 5px 0 -1px var(--rc-primary-color);
      background-color: #fff;
      border-color: var(--rc-primary-color);
      z-index: 1;
      color: var(--rc-primary-color);
  }
  .rc-radio-options label .mat-radio-label-content{
    max-width: 12ch;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* Start tabs transforn in button option for responsive*/
    @media screen and (min-width: 768px) and (max-width: 1199px){
      .rc-radio-options label .mat-radio-label-content{
        max-width: 8ch;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 959px){
      .rc-radio-options label{
        padding: 0.5rem 0.25rem;
      }
    }
    @media screen and (max-width: 767px){
    .rc-radio-options label .mat-radio-label-content{
      max-width: fit-content;
    }
    .rc-radio-options{
      border-bottom: none;
      padding: 0;
      height: auto;
      margin-bottom: 1rem;
      text-align: center;
    }
    .rc-radio-options mat-radio-button {
      margin: 0 .65rem
    }
    .rc-radio-options span.mat-radio-container {
      display: none;
    }
    .rc-radio-options label{
      background: white;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 5px;
      border-radius: 5px;
      cursor: pointer;
      padding: 0 5px;
      border: 1px solid var(--rc-text-light-color);
      transition: all 0.3s ease;
      color: var(--rc-text-light-color);
      font-size: .75rem;
      text-transform: uppercase;
      letter-spacing: .1rem;
      padding: 5px;
    }
    .rc-radio-options label .mat-radio-container{
      font-family: 'Raleway', sans-serif !important;
    }
    .rc-radio-options .mat-radio-checked label.mat-radio-label{
      border: 2px solid var(--rc-primary-color);
      background: white;
      color: var(--rc-primary-color);
      box-shadow: none;
    }
    }
  /* End tabs transforn in button option for responsive*/
/* End Product Lines Style*/

/* Checkbox filters */
  .rc-filter-group .mat-list-base{
    margin-bottom: 0.85rem;
  }
  .rc-filter-group .mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
    height: 30px;
  }
  .rc-filter-group .mat-pseudo-checkbox{
      position: absolute;
      left: .5rem;
  }
  .rc-filter-group .mat-list-text{
    margin-left: 1rem;
  }

/* Start filters selected */
  .rc-filters-selected {
    margin-top: 1rem;
    background-color: #1565c012;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .rc-filters-selected h5{
    display: inline-block;
    padding-right: .5rem;
  }
  .rc-filters-selected mat-chip-list{
    display: inline-block;
  }
  .rc-filters-selected mat-chip.mat-chip {
    border-color: transparent;
    background-color: #303f9f;
    border-radius: 2rem;
    color: white;
  }
  .rc-filters-selected mat-chip.mat-chip button.mat-chip-remove {
    color: white;
  }
  .rc-filters-selected mat-chip.mat-chip button.mat-chip-remove:hover {
    opacity: .6;
  }
  @media (max-width: 960px) {
    .rc-filters-selected {
      background-color: transparent;
    }
    .rc-filters-selected .rc-f{
      background-color: #1565c012;
      padding: 0.5rem;
      border-radius: 0.5rem;
      margin-bottom: 0.15rem;
    }
    .rc-filters-selected h5{
      display: block;
    }
  }
/* End filters selected */

/* ==== Start styles in Results Page ==== */
/* Start Rebates */
  .rc-rebates-filters {
    border: 1px solid gainsboro;
    border-radius: 4px;
  }
  .rc-rebate-filters-btn{
    margin-top: 1rem;
  }
  .rc-checked-rebate .mat-checkbox  {
    border: 1px solid #e1e1e1;
    padding: 1rem;
    border-radius: 4px;
    position: relative;
    display: block;
    margin: 6px 0;
  }
  .rc-checked-rebate .mat-checkbox .mat-checkbox-layout{
    display: initial;
  }
  .rc-checked-rebate .mat-checkbox .mat-checkbox-layout .mat-checkbox-inner-container {
    display: none;
  }
  .rc-checked-rebate .mat-checkbox  .mat-checkbox-label{
    padding-left: 0;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: var(--rc-text-light-color);
    white-space: normal;
  }
    /*Checked*/
    .rc-checked-rebate .mat-checkbox.mat-checkbox-checked{
      border-color: var(--rc-primary-color);
    }
    .rc-checked-rebate .mat-checkbox.mat-checkbox-checked .mat-checkbox-label{
      color: var(--rc-primary-color);
      width: 95%;
    }
    .rc-checked-rebate .mat-checkbox.mat-checkbox-checked::after {
      font-family: 'Material Icons';
      content: "check_circle";
      -webkit-font-feature-settings: 'liga';
      position: absolute;
      top: 10px;
      right: 4px;
      font-size: 36px;
      color: #1565c033;
      z-index: 0;
    }

  /*Rebate Tiers*/
  .rc-checked-rebate .mat-checkbox .mat-checkbox,
  .rc-checked-rebate .mat-checkbox.mat-checkbox-checked .mat-checkbox{
    background-color: #fbfbfb;
    border: 1px solid #fbfbfb;
    padding: .5rem;
  }
  .rc-rt-title {
    width: 95%;
  }
  
.rc-checked-rebate .rc-rt-container{
  color: var(--rc-primary-color);
}
  .rc-checked-rebate .rc-rebate-tier.mat-checkbox-disabled .rc-rt-container {

color: #4c4c4c;

}
  .rc-rt-container .rc-info-note{
    text-transform: none;
    font-weight: 400;
  }
  .rc-rt-container .rc-icon-info {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }
    /*Rebate Tiers Checked*/
    .rc-checked-rebate .mat-checkbox.mat-checkbox-checked .mat-checkbox.mat-checkbox-checked{
      border-color: #008906;
      background-color: rgba(1, 252, 11, 0.122);
    }
    .rc-checked-rebate .mat-checkbox.mat-checkbox-checked .mat-checkbox.mat-checkbox-checked::after{
      content: "";
    }
    .rc-checked-rebate .mat-checkbox.mat-checkbox-checked .mat-checkbox.mat-checkbox-checked .rc-rt-container{
      color: #008906;
      font-weight: 600;
    }
    .rc-checked-rebate .mat-checkbox.mat-checkbox-checked .mat-checkbox.mat-checkbox-checked .rc-rt-container .rc-info-note{
      color: var(--rc-text-light-color);
    }
/* End Rebates */

/* Start Filters */
  .rc-rb-filters form{
    margin-top: 1rem;
  }
  .rc-rb-filters form h5.rc-filter-group-title{
    margin-bottom: 0.5rem;
  }
  .rc-rb-filters mat-form-field{
    width: 100%;
  }
/* End Filters */


/* Start Card Result Page */
  .rc-card.results {
    margin-top: 1rem;
    padding: 1.5rem !important;
  }
  .rc-card.results .model-nrs {
    border-bottom: 1px solid #d7d7d7;
    width: 100%;
    padding-bottom: 6px;
  }
  .rc-card.results .mat-card-subtitle{
    margin-bottom: 1.5rem !important;
  }
  @media only screen and (max-width: 767px){
    .rc-card.results .mat-card-subtitle{
      margin-bottom: .25rem !important;
    }
  }
  .rc-card.results .mat-card-header-text{
    width: 100%;
    margin: 0;
    min-width: 98%;
  }
  .rc-card.results .mat-card-header .mat-card-title h3{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 4px;
    font-family: 'Bitter', serif;
  }
  .rc-card.results .mat-card-header .mat-card-title{
    font-size: 12px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: .5rem;
  }
  .rc-card.results .mat-card-header .mat-card-subtitle{
    margin-bottom: 5px;
  }
  .rc-card.results .rebate-price{
    position: relative;
    background-color: rgba(50, 121, 192, 0.13);
    border-radius: 4px;
    padding: 2.5rem 1rem;
    color: var(--rc-primary-color);
    text-align: center;
    height: 100%;
  }
  .rc-card.results p.outdoor-nb{
    margin-bottom: 0;
  }
  .rc-card.results .rebate-price h5.rc-small{
    margin-bottom: 5px;
    position: absolute;
    top: 1px;
    left: 10px;
    font-size: 9px;
  }
  .rc-card.results .rebate-price h1{
    font-family: 'Bitter', serif !important;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
  }

  @media screen and (min-width: 960px) and (max-width: 1199px){
  .rc-card.results .rebate-price h1{
      font-size: 26px;
    }
  }
  @media screen and (max-width: 959px){
  .rc-card.results .rebate-price{
      padding: 1rem;
      margin-left: 10px;
    }
  .rc-card.results .rebate-price h1{
      font-size: 26px;
      margin-top: 10px;
    }
  }
  @media screen and (max-width: 599px){
  .rc-card.results .rebate-price{
      margin-top: 10px;
      margin-left: 0;
    }
  .rc-card.results .mat-card-header .mat-card-subtitle .model-nrs {
      padding-top: .5rem;
    }
  }

  /*Content*/
  .rc-card.results .mat-card-content{
      padding: .5rem 0;
      margin-bottom: 0.5rem;
  }
  .rc-card.results .mat-card-content span.rc-small{
      color: rgba(0,0,0,.54);
  }
    @media screen and (max-width: 599px){
      .list-rebates{
        margin: 1rem 0;
      }
    }
  .rc-unlisted{
    list-style: none;
  }
  .rc-unlisted .mat-icon{
    position: absolute;
    left: 25px;
    color: #02af09;
  }
  .list-accesories {
    background-color: rgba(255, 149, 0, 0.07);
    border-radius: 4px;
    padding: 0 12px 16px 12px;
  }
  .list-accesories span.accesorie-price{
    background-color: rgba(0, 114, 5, 0.09);
    color: #007205;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 11px;
    margin-left: 5px;
  }
  .list-ahri-rating-item span, .list-detail-performance-item span {
    font-weight: 600;
    margin-right: 1rem;
  }
  .list-ahri-rating-item mat-icon.rc-co2-icon, .list-detail-performance-item mat-icon.rc-co2-icon{
    font-size: 18px;
    width: 14px;
    height: 18px;
    color: var(--rc-accent-color);
  }

  /*Card buttons*/
  .rc-card.results .rc-detail-button {
    background: grey;
    color: white;
  }
  .rc-card.results .rc-card-button {
      background: var(--rc-accent-color);
      margin-right: 1rem;
      color: white;
  }

  .rc-card.results .rc-reset-button {
    background-color: black;
    margin-right: 1rem;
    margin-top: .5rem;
    color: white;
    font-size: 12px;
  }

  .rc-card.results .pdf-card-button {
    background: var(--rc-warn-color);
    margin-right: 1rem;
    color: white;
  }

  .rc-card.results .rc-table-button {
      background: var(--rc-primary-light-color);
      margin-right: 1rem;
      color: white;
  }
  .rc-card.results .mat-button-wrapper{
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      color: white;
  }
  .rc-card.results .mat-button-wrapper mat-icon{
      font-size: 20px;
  }

  /* Start Change style to input combo box */
  .rc-card.results .model-nrs mat-form-field{
    display: block;
  }
  .rc-card.results .model-nrs mat-form-field .mat-form-field-flex{
      background-color: transparent;
      padding: 0;
  }
  .rc-card.results .model-nrs mat-form-field .mat-form-field-infix{
      padding: 0;
      border-top: none;
  }
  .rc-card.results .model-nrs mat-form-field .mat-select-value{
      color: rgba(0,0,0,.54);
  }
  .rc-card.results .model-nrs mat-form-field .mat-form-field-underline{
      display: none;
  }
  .rc-card.results .model-nrs mat-form-field .mat-form-field-wrapper{
      padding-bottom: 0;
  }
  .rc-card.results .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
      color: var(--rc-primary-color);
  }
  .rc-card.results .mat-form-field-appearance-legacy .mat-form-field-underline,
  .rc-card.results .mat-form-field.mat-focused .mat-form-field-ripple{
      background-color: transparent;
  }

  /*Style to select options in indoor unit and furnace*/
  .rc-select-multiline-option{
    white-space: initial !important;
    line-height: 22px !important;
    height: auto !important;
    padding: 0.15rem 0.5rem;
  }
  .rc-select-multiline-option .mat-option-text, .rc-select-multiline .mat-select-value-text .mat-select-min-line{
    font-size: 12px;
    line-height: 24px;
  }
  .rc-select-multiline-option .mat-option-text .price{
    margin-left: 0.25rem;
    background-color: rgba(0, 114, 5, 0.09);
    padding: 0 0.25rem;
    color: #007205;
    font-weight: bold;
  }
  .rc-select-multiline-option .mat-select-value{
    white-space: normal;
  }

  /*Collapse style in results*/
  .list-detail-performance mat-expansion-panel.mat-expansion-panel,
  .list-ahri-rating mat-expansion-panel.mat-expansion-panel {
    background-color: transparent;
    box-shadow: none;
  }
  .list-detail-performance mat-expansion-panel.mat-expansion-panel mat-expansion-panel-header,
  .list-ahri-rating mat-expansion-panel.mat-expansion-panel mat-expansion-panel-header{
    padding: 0;
    height: auto;
  }
  .list-detail-performance mat-expansion-panel.mat-expansion-panel .mat-expansion-panel-content .mat-expansion-panel-body,
  .list-ahri-rating mat-expansion-panel.mat-expansion-panel  .mat-expansion-panel-content .mat-expansion-panel-body{
    padding: 10px 0px 10px 16px;
  }
  @media screen and (max-width: 599px){
    .list-detail-performance mat-expansion-panel.mat-expansion-panel mat-expansion-panel-header,
    .list-ahri-rating mat-expansion-panel.mat-expansion-panel mat-expansion-panel-header{
      border-bottom: 1px solid #d7d7d7;
      border-radius: 0;
      pointer-events: initial;
      padding: 5px 10px;
      background-color: #f8f8f8;
      font-weight: bold;
    }
    .list-detail-performance mat-expansion-panel.mat-expansion-panel mat-expansion-panel-header .mat-expansion-indicator,
    .list-ahri-rating mat-expansion-panel.mat-expansion-panel mat-expansion-panel-header .mat-expansion-indicator{
      display: initial;
      transition: display 1s ;
    }
  }
  @media screen and (min-width: 600px){
      .list-detail-performance mat-expansion-panel.mat-expansion-panel mat-expansion-panel-header,
      .list-ahri-rating mat-expansion-panel.mat-expansion-panel mat-expansion-panel-header{
        pointer-events: none;
      }
      .list-detail-performance mat-expansion-panel.mat-expansion-panel mat-expansion-panel-header .mat-expansion-indicator,
      .list-ahri-rating mat-expansion-panel.mat-expansion-panel mat-expansion-panel-header .mat-expansion-indicator{
        display: none;
      }
  }

/* End Card Result Page */

/*Change check position in the card*/
  .rc-list-accesories .mat-checkbox-layout{
    position: relative !important;
  }
  .rc-list-accesories .mat-checkbox-layout .mat-checkbox-inner-container{
    position: absolute !important;
    top: 5px;
  }
  .rc-list-accesories .mat-checkbox-layout .mat-checkbox-label{
    margin-left: 1.5rem !important;
  }

/*Tab border bottom*/
  .mat-tab-label-active .mat-tab-label .mat-tab-label-content{
    font-weight: bold;
  }
  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--rc-accent-color)!important;
  }
  .mat-tab-label-active .mat-tab-label-content{
    font-weight: bold;
    color: black;
  }

  /* Elegibility Questions Styles*/
  .rc-elegibility-questions {
    padding: 0.4rem 0 0 1rem;
  }
  .rc-elegibility-questions .mat-radio-button{
    display: block;
    line-height: 1.6rem;
  }

  /*Part of detail*/
.rc-card.detail .part{
  position: relative;
}
.rc-card.detail .part .title{
  position: relative;
  margin-bottom: 1.5rem;
}
.rc-card.detail .part .title .text{
  color: var(--rc-accent-color);
  position: relative;
  z-index: 5;
}
.rc-card.detail .part .title::after{
  position: relative;
  z-index: 5;
  content: '';
  border-bottom: solid 3px var(--rc-primary-color);
  width: 30px;
  display: block;
}
.rc-card.detail .part .decoration{
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #FFF9F1;
  border-radius: 50%;
  z-index: 0;
  left: -10px;
  top: -5px;
}

.rc-card.detail .part .content-detail{
  padding: 5px 8px 20px 16px
}
.rc-card.detail .part .content-detail .group-content{
  margin-bottom: 4px;
}
.rc-card.detail .part .content-detail .group-content .rc-small{
  color: #9a9a9a;
  font-size: 11px;
}
.rc-card.detail .part .content-detail .group-content p.data{
  font-weight: 600;
}

/*Accordion tabs for rebates*/
.rc-card.detail .mat-accordion .mat-expansion-panel,
.card-accordion .mat-expansion-panel{
  background-color: #F8F8F8;
  box-shadow: none !important;
  margin-bottom: .5rem;
}
.rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-header.mat-expanded{
  border-bottom: 1px solid #D7D7D7;
  border-radius: 0;
}
.rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-header-title,
.mat-accordion.card-accordion .mat-expansion-panel .mat-expansion-panel-header-title{
  display: initial;
  color: var(--rc-text-color);
}
.rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-header-title h4 span,
.mat-accordion.card-accordion .mat-expansion-panel .mat-expansion-panel-header-title h4 span{
  font-weight: normal;
  font-style: italic;
}
.rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-header-title .price h4,
.mat-accordion.card-accordion .mat-expansion-panel .mat-expansion-panel-header-title .price h4{
  background-color: rgba(49, 120, 191, 0.13);
  border-radius: 4px;
  padding: 2px 12px;
  color: var(--rc-primary-color);
}
.mat-accordion.card-accordion .mat-expansion-panel .mat-expansion-panel-header-title .price h4:empty{
  display: none !important;
}
.rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-body,
.mat-accordion.card-accordion .mat-expansion-panel .mat-expansion-panel-body{
  padding: 16px 24px 16px;
}
.rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-body p.description,
.mat-accordion.card-accordion .mat-expansion-panel .mat-expansion-panel-body p.description{
  margin-bottom: 1rem;
}
.rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-body .link-list,
.mat-accordion.card-accordion .mat-expansion-panel .mat-expansion-panel-body .link-list{
  list-style: none;
  padding-inline-start: 16px;
}
.rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-body .link-list li a,
.mat-accordion.card-accordion .mat-expansion-panel .mat-expansion-panel-body .link-list li a{
  color: var(--rc-primary-color) !important;
  cursor: pointer;
  margin-bottom: .5rem;
}
.rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-body .link-list mat-icon,
.mat-accordion.card-accordion .mat-expansion-panel .mat-expansion-panel-body .link-list mat-icon{
  font-size: 16px;
  width: 16px;
  height: 20px;
  padding-top: 0px;
  transform: rotate(145deg);
}
.rc-card.detail .mat-card-footer,
.card-accordion .mat-card-footer{
  margin: 1rem 0 0 0;
}

/* Change tooltip color */
.mat-progress-spinner circle, .mat-spinner circle{
  stroke: #1565c0 !important;
}

/*Detail collapse in Available Rebates*/
@media only screen and (max-width: 959px){
  .mat-expansion-panel-header {
    height: 90px!important;
    background-color: #efefef !important;
  }
  .rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-header-title .price h4{
    width: 100%;
    padding: 7px 12px;
    font-size: 25px;
    text-align: center;
  }
}
@media only screen and (max-width: 560px){
  .mat-expansion-panel-header {
    height: 135px!important;
  }
}

.rc-panel-header-cards{
  height: auto !important;
}
.rc-disabled-note-rt{
  color:#a19d9d;
  text-transform: lowercase;
}

p.rc-disabled-note-rt::first-letter{
  text-transform: uppercase;
}

/* Form Styles */
.rc-form{
  margin-bottom: 1.5rem !important;
  width: 100%;
}
.rc-form mat-form-field{
  width: 100%;
}