<form [formGroup]="nominalSizeGroup">
    <!-- Name of step -->
    <ng-template matStepLabel>Equipment Size</ng-template>
    <h2 class="rc-main-title">Equipment Size</h2>
    <!-- Content of step -->
    <div fxLayout fxLayoutAlign="center">
      <!-- User input -->
      <div fxFlex="40" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="40" fxLayoutGap="20">

        <!-- input -->
        <mat-form-field appearance="fill"  >
            <mat-label>Cooling tons</mat-label>
            <mat-select  #sGroup formControlName="coolingTonsControl" (selectionChange)="submitInputs()">
              <div *ngFor="let coolT of myCoolingTons">
                <mat-option radioGroup="sGroup" *ngIf="coolT === 0.5" [value]="0.5"> < 1.0</mat-option>
                <mat-option radioGroup="sGroup" *ngIf="coolT != 0.5" [value]="coolT"> {{coolT | number : '1.1-1'}}</mat-option>
              </div>
            </mat-select>
        </mat-form-field>


        <!-- input -->
        <mat-form-field appearance="fill">
          <mat-label>Heating BTUH</mat-label>
          <input matInput placeholder="Heating BTUH" type="number" formControlName="heatingBTUHControl" (change)="submitInputs()" required>
          
          <!-- error -->
          <mat-error *ngIf="nominalSizeGroup.get('heatingBTUH')?.hasError('is_not_number') && nominalSizeGroup.get('heatingBTUH')?.touched">
            Heating BTUH <strong>must be a number.</strong>
          </mat-error>
          <mat-error *ngIf="nominalSizeGroup.get('heatingBTUH')?.hasError('null_not_permit') && nominalSizeGroup.get('heatingBTUH')?.touched">
            Heating BTUH is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="nominalSizeGroup.get('heatingBTUH')?.hasError('need_between_4_6_characters') && nominalSizeGroup.get('heatingBTUH')?.touched">
            Heating BTUH must be <strong>between 4 and 6 digits</strong>.
          </mat-error>
          <mat-error *ngIf="nominalSizeGroup.get('heatingBTUH')?.hasError('Hbtuh_invalid_value') && nominalSizeGroup.get('heatingBTUH')?.touched">               
            Heating BTUH must be a whole number <strong>between 8,000 and 135,000</strong>.
          </mat-error>
          <mat-error *ngIf="nominalSizeGroup.get('heatingBTUH')?.hasError('it_not_integer') && nominalSizeGroup.get('heatingBTUH')?.touched">
            Heating BTUH is not <strong>integer</strong>.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>