<!--Title-->
<h2 class="rc-main-title">System Size</h2>


<div fxLayout fxLayoutAlign="center">
  <div fxLayout fxFlex="40" fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="40" fxLayoutGap="20">
    <form [formGroup]="nominalSizeGroup" fxLayout="column" fxFlex="100" fxLayoutAlign="center" class="rc-form">
      <!-- Name of step -->
      <ng-template matStepLabel>Nominal Size</ng-template>
      <!-- Content of step -->
      <!-- input -->
      <mat-form-field appearance="fill"  >
        <mat-label>Cooling tons</mat-label>
        <mat-select  #sGroup formControlName="coolingTonsControl" (selectionChange)="submitInputs()">
          <div *ngFor="let coolT of myCoolingTons">
            <mat-option radioGroup="sGroup" *ngIf="coolT === 0.5" [value]="0.5"> < 1.0</mat-option>
            <mat-option radioGroup="sGroup" *ngIf="coolT != 0.5" [value]="coolT"> {{coolT | number : '1.1-1'}}</mat-option>
          </div>
        </mat-select>
        <mat-error *ngIf="nominalSizeGroup.get('coolingTonsControl')?.hasError('required')">You must make a selection</mat-error>
      </mat-form-field>

      <!-- input -->
      <mat-form-field appearance="fill">
        <mat-label>Heating BTUH</mat-label>
        <input matInput placeholder="Heating BTUH" type="number" formControlName="heatingBTUHControl" (change)="submitInputs()" required>
        
        <!-- error -->
        <mat-error *ngIf="nominalSizeGroup.get('heatingBTUHControl')?.hasError('is_not_number') && nominalSizeGroup.get('heatingBTUHControl')?.touched">
          Heating BTUH <strong>must be a number.</strong>
        </mat-error>
        <mat-error *ngIf="nominalSizeGroup.get('heatingBTUHControl')?.hasError('null_not_permit') && nominalSizeGroup.get('heatingBTUHControl')?.touched">
          Heating BTUH is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="nominalSizeGroup.get('heatingBTUHControl')?.hasError('need_between_4_6_characters') && nominalSizeGroup.get('heatingBTUHControl')?.touched">
          Heating BTUH must be <strong>between 4 and 6 digits</strong>.
        </mat-error>
        <mat-error *ngIf="nominalSizeGroup.get('heatingBTUHControl')?.hasError('Hbtuh_invalid_value') && nominalSizeGroup.get('heatingBTUHControl')?.touched">               
          Heating BTUH must be a whole number <strong>between 8,000 and 135,000</strong>.
        </mat-error>
        <mat-error *ngIf="nominalSizeGroup.get('heatingBTUHControl')?.hasError('it_not_integer') && nominalSizeGroup.get('heatingBTUHControl')?.touched">
          Heating BTUH is not <strong>integer</strong>.
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</div>