<!-- <form  fxLayout="column" fxLayoutAlign="center" fxLayoutAlign.xs="center stretch" fxLayoutAlign.sm="center stretch" fxLayoutGap="16 4">
    <div *ngFor="let filter of myFilters1" class="rc-filter-group">
      <div >
        <h5 class="rc-filter-group-title">{{filter.filterName}}</h5>
        <mat-form-field appearance="fill">
          <mat-label class="rc-radio-label">{{filter.filterName}}</mat-label>
          <mat-select multiple>
            <mat-option *ngFor="let val of filter.availableOptions" [value]="val"> 
                {{val}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form> -->

  <form [formGroup]="filtersGroup">
    <mat-form-field appearance="fill">
        <mat-label>Electric Utility</mat-label>
        <mat-select #sGroup formControlName="filterControl" (selectionChange)="AddFilter()">
          <mat-option *ngFor ="let filter of myFilters" value="{{filter}}"  radioGroup="sGroup">
            {{filter}}
          </mat-option>
        </mat-select>
    </mat-form-field>
  </form>
  
