  <form [formGroup]="filtersGroup">
    <mat-form-field appearance="fill">
        <mat-label>Electric Utility</mat-label>
        <mat-select  formControlName="filterControl" (selectionChange)="AddFilter()">
          <mat-option *ngFor ="let filter of myFilters" value="{{filter}}" >
            {{filter}}
          </mat-option>
        </mat-select>
    </mat-form-field>
  </form>

  <ul class="rc-unlisted">
    <li *ngFor ="let filter of addFilter">
      <mat-icon> fiber_manual_record</mat-icon>
      {{filter}}
    </li>
  </ul>
  
