/*Buttons in table*/
.table-buttons {
  margin-right: 4px;
  border: none;  
  padding: 5px;
  border-radius: 2px;
}
.table-buttons mat-icon{
  font-size: 16px;
  height: 16px;
  width: 16px;
  color: white;
}
.table-buttons.save{
  background-color: rgb(17, 109, 17);
}
.table-buttons.edit{
  background-color: var(--rc-primary-color);
}
.table-buttons.cancel{
  background-color: var(--rc-warn-color);
}
.table-buttons.delete{
  background-color: var(--rc-warn-color);
}
/* Button Add hvac unit */
.rc-hvac-unit-add, 
.rc-hvac-unit-card{
  position: relative;
  padding: 50px;
  background-color: white;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  height: 100%;
}
.rc-hvac-unit-add:hover,
.rc-hvac-unit-card:hover{
  cursor: pointer;
}
.rc-hvac-unit-add .icon{
  background-color: rgba(21, 101, 192, 0.15);
  display: inline-block;
  padding: 15px;
}
.rc-hvac-unit-add .mat-icon{
  font-size: 32px;
  color: var(--rc-primary-color);
  height: 32px;
  width: 32px;
}
.rc-hvac-unit-add span{
  font-size: 18px;
  display: block;
  font-weight: 600;
    color: var(--rc-text-color);
    margin-top: 20px;
}
/* HVAC unit list */
.rc-hvac-unit-card{
  padding: 30px;
}
.rc-hvac-unit-card .icon {
  text-align: center;
}
.rc-hvac-unit-card .icon img{
  width: 100px;
}
.rc-hvac-unit-card .information{
  text-align: center;
}
.rc-hvac-unit-card .information .item{
  margin-bottom: 10px;
}
.rc-hvac-unit-card .information .item span{
  font-size: 10px;
  color: var(--rc-text-light-color);
}
.rc-hvac-unit-card .information .item p{
  font-weight: 500;
  line-height: 1.6;
}
.rc-hvac-unit-card .delete{
  position: absolute;
  top: 4px;
  right: 4px;
  color: #bfbfbf;
}
.rc-hvac-unit-card .delete:hover{
  color: black;
}
