<!--- Begin Material Stepper progress bar content. -->
<mat-stepper #stepper (selectionChange)="tabChange($event)">

    <!--- Step 1: Location. -->
    <mat-step [completed]="MySubmitValidation['location']">
        <ng-template matStepLabel>Location</ng-template>

        <h2 class="rc-main-title">Location</h2>

        <div fxLayout="row column" fxLayoutAlign="center">
            <div fxFlex="25" fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxLayoutGap="20">
                
                <app-location (locationChange)="setNewLocation( $event )"></app-location>
            </div>
        </div>

        <!-- button -->
        <div fxLayout="column" fxLayoutAlign="center end" class="rc-stepper-buttons">
            <button type="button" mat-raised-button color="primary" [disabled]="!MySubmitValidation['location']"
                matStepperNext>
                Continue
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </mat-step>

    <!--- Step 2: Utility providers. -->
    <mat-step [completed]="MySubmitValidation['utilityProviders']">
        <ng-template matStepLabel>Utility providers</ng-template>
       
        <h2 class="rc-main-title">Utility providers</h2>

        <div fxLayout="row column" fxLayoutAlign="center">
            <div fxFlex="25" fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxLayoutGap="20">
            
                <app-utility-providers [location]="myData.location!"
                    (utilityProvidersChange)="setNewUtilityProviders( $event )"></app-utility-providers>

            </div>
        </div>
    
        <!-- button -->
        <div fxLayout="column" fxLayoutAlign="center end" class="rc-stepper-buttons">
            <button type="button" mat-raised-button color="primary" [disabled]="!MySubmitValidation['utilityProviders']"
                matStepperNext>
                Continue
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>

    </mat-step>

    <!--- Step 3: Dwelling info. -->
    <mat-step [completed]="MySubmitValidation['dwellingInfo']">
        <ng-template matStepLabel>Dwelling Info</ng-template>

        <h2 class="rc-main-title">Dwelling Info</h2>
        
        <div fxLayout="row column" fxLayoutAlign="center">
            <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex.sm="75" fxFlex.md="75" fxLayoutGap="20">
                
                <app-dwelling-info (dwellignInfoChange)="setDwellignInfo( $event )"></app-dwelling-info>

            </div>
        </div>
        <!-- button -->
        <div fxLayout="column" fxLayoutAlign="center end" class="rc-stepper-buttons">
            <button type="button" mat-raised-button color="primary" [disabled]="!MySubmitValidation['dwellingInfo']"
                matStepperNext>
                Continue
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </mat-step>       

    <!--- Step 4: System design. -->
    <mat-step [completed]="this.systems.length > 0">
        <ng-template matStepLabel>System Design</ng-template>
        
        <!--Title-->
        <h2 class="rc-main-title">System design</h2>

        <div fxLayout="row column" fxLayoutAlign="center stretch" fxLayoutGap="8px grid">
            <div *ngFor="let sys of systems; index as i"  fxFlex="20" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="25">
                <div class="rc-hvac-unit-card" (click)="openDialog('edit', i)">
                    <div class="icon" *ngFor="let key of Object.keys(sys)">
                        <div *ngIf="sys[key]=='Indoor unit'">
                            <img src="../../../../assets/images/icons/indoor_icon.png" alt="" class="no-active unchecked">
                            <img src="../../../../assets/images/icons/indoor_icon_active.png" alt="" class="active unchecked">
                        </div>  
                        <div *ngIf="sys[key]=='Outdoor unit'">
                            <img src="../../../../assets/images/icons/outdoor_icon.png" alt="" class="no-active unchecked">
                            <img src="../../../../assets/images/icons/outdoor_icon_active.png" alt="" class="active unchecked">
                        </div>  
                        <div *ngIf="sys[key]=='Furnace'">
                            <img src="../../../../assets/images/icons/furnace_icon.png" alt="" class="no-active unchecked">
                            <img src="../../../../assets/images/icons/furnace_icon_active.png" alt="" class="active unchecked">
                        </div>
                    </div>
                    <div class="information">
                        <div class="item" *ngFor="let key of Object.keys(sys)">
                            <span>{{key}}</span>
                            <p>{{sys[key]}}</p>
                        </div>
                    </div>
                    <div class="delete" (click)="deleteSystem(i, $event)">
                        <mat-icon>close</mat-icon>
                    </div>
                </div>
            </div>

            <!--Add new-->
            <div fxFlex="20" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="25">
                <button class="rc-hvac-unit-add" (click)="openDialog('add')">
                    <div class="icon">
                        <mat-icon>add</mat-icon>
                    </div>
                    <span>ADD NEW</span>    
                </button>
            </div>
        </div> 

        <!-- button -->
        <div fxLayout="column" fxLayoutAlign="center end" class="rc-stepper-buttons">
            <button type="button" mat-raised-button color="primary"
                [disabled]="this.systems.length == 0" matStepperNext>
                Continue
                <mat-icon>arrow_forward</mat-icon>
            </button>
             
        </div>

    </mat-step>

    <!--- Step 5: System size. -->
    <mat-step [completed]="MySubmitValidation['systemSize']">
        <ng-template matStepLabel>System Size</ng-template>

        <!--Title-->
        <h2 class="rc-main-title">System Size</h2>

        <div fxLayout fxLayoutAlign="center">
            <div fxLayout fxFlex="40" fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex.sm="70"
                fxFlex.md="40" fxLayoutGap="20">
                <form [formGroup]="systemSizeForm" fxLayout="column" fxFlex="100" fxLayoutAlign="center"
                    class="rc-form">

                    <!--- Cooling tons. -->
                    <mat-form-field appearance="fill">
                        <mat-label>Cooling tons</mat-label>
                        <mat-select #sGroup formControlName="coolingTons">
                            <mat-option radioGroup="sGroup" [value]="0.5"> < 1.0</mat-option>
                            <mat-option radioGroup="sGroup" [value]="1.0">1.0</mat-option>
                            <mat-option radioGroup="sGroup" [value]="1.5">1.5</mat-option>
                            <mat-option radioGroup="sGroup" [value]="2.0">2.0</mat-option>
                            <mat-option radioGroup="sGroup" [value]="2.5">2.5</mat-option>
                            <mat-option radioGroup="sGroup" [value]="3.0">3.0</mat-option>
                            <mat-option radioGroup="sGroup" [value]="3.5">3.5</mat-option>
                            <mat-option radioGroup="sGroup" [value]="4.0">4.0</mat-option>
                            <mat-option radioGroup="sGroup" [value]="4.5">4.5</mat-option>
                            <mat-option radioGroup="sGroup" [value]="5.0">5.0</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!--- Heating BTUH -->
                    <mat-form-field appearance="fill">
                        <mat-label>Heating BTUH</mat-label>
                        <input matInput placeholder="Heating BTUH" type="number" formControlName="heatingBTUH" required>
                    </mat-form-field>

                </form>
            </div>
        </div>

        <!-- button -->
        <div fxLayout="column" fxLayoutAlign="center end" class="rc-stepper-buttons">
            <button type="button" mat-raised-button color="primary" [disabled]="!MySubmitValidation['systemSize']"
                matStepperNext>
                Continue
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>

    </mat-step>

    <!-- Step 6: Results. -->
    <mat-step>

        <ng-template matStepLabel>AHRI Combinations</ng-template>

        <app-results [payload]="payload"></app-results>

    </mat-step>

</mat-stepper>

{{ this.myData | json }}
