/*Buttons in table*/
.table-buttons {
  margin-right: 4px;
  border: none;  
  padding: 5px;
  border-radius: 2px;
}
.table-buttons mat-icon{
  font-size: 16px;
  height: 16px;
  width: 16px;
  color: white;
}
.table-buttons.save{
  background-color: rgb(17, 109, 17);
}
.table-buttons.edit{
  background-color: var(--rc-primary-color);
}
.table-buttons.cancel{
  background-color: var(--rc-warn-color);
}
.table-buttons.delete{
  background-color: var(--rc-warn-color);
}
  
.messageValidation {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #856404;
  background-color: #fff3cd;
  padding: 2px 5px;
}

.messageValidation mat-icon{
  font-size: 16px;
  height: 16px;
  width: 16px;
  margin-right: 3px;
}