  .mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }
  .button-add-row {
    color: #003C8F;
    font-size: 14px;
    font-weight: bold;
    float: right;   
  }
  .button-remove {
    color: var(--rc-warn-color);
    font-size: 14px;
  }
 
  .button-save {
    color: var(--rc-primary-color);    
    font-size: 14px;
  }

  
  
  .messageValidation {
    color: white;
    font-size: 14px;
    background-color: #FFA000;
  }
