<!-- Name of step -->
<ng-template matStepLabel>Eligibility questions</ng-template>
<h2 class="rc-main-title">Eligibility questions</h2> 

<form [formGroup]="rebateEligibilityGroup">
    <!-- Content of step -->
    <div fxLayout fxLayoutAlign="center"> 
      <!-- User input -->
     <div fxFlex="40" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="40" fxLayoutGap="20">
        <div formArrayName="questions" *ngFor ="let question of questions.controls; let i = index">
          <strong>{{question.value.questionText}}</strong>
          <div [formGroupName]="i" class="rc-elegibility-questions">
            <mat-radio-group aria-label="Select an option"  formControlName="answer" >
              <mat-radio-button *ngFor="let option of question.value.options" [value]="option">{{option}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div *ngIf="noResultsEQ">
          <div class="rc-alert info">
            <mat-icon class="rc-icon-alert">info</mat-icon>
            <p>Whoa, looks like no rebate eligibility questions apply. Just smack the "Continue" button.</p>
          </div>
       </div>
      </div>
    </div>
  </form>