.rc-questions .subtitle,
.rc-requirements .subtitle {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.rc-questions .subtitle span,
.rc-requirements .subtitle span {
    font-size: 16px;
    color: var(--rc-primary-color);
    font-weight: 500;
    z-index: 1;
}

.rc-questions .subtitle mat-icon,
.rc-requirements .subtitle mat-icon {
    position: absolute;
    z-index: 0;
    height: 32px;
    width: 32px;
    font-size: 32px;
    color: rgba(255, 188, 89, 0.20);
    left: -15px;
}

.rc-questions,
.rc-requirements {
    padding-top: 1rem;
}

/* ---- Question style */
.rc-questions .question label {
    font-weight: bold;
    color: #606060;
    padding: 5px;
    background-color: rgba(50, 120, 192, 0.05);
    border-radius: 5px;
    display: block;
    margin: 1rem 0 .5rem 0;

}

.rc-questions .question mat-radio-group {
    line-height: 1.5rem;
}

.rc-questions .question mat-radio-group mat-radio-button,
.rc-requirements .requirement mat-checkbox {
    display: block;
    padding-left: 12px;
}

/* ---- requirement style */
.rc-requirements .requirement mat-checkbox {
    line-height: 2rem;
}