<mat-card class="rc-card results" *ngIf="appliesEligibleRebates(card.result!)">
  <div fxLayout="row column" fxLayoutAlign="center center" class="rc-card-header">
    <!-- Card title -->
    <div fxFlex="100">
      <mat-card-header>
        <mat-card-title>
          <span class="title">{{this.getComponentByComponentType(card.result!.components, "Outdoor unit").description}}</span>
        </mat-card-title>
      </mat-card-header>
    </div>
  </div>
  <div fxLayout="row column" fxLayoutAlign="center start">
    <!-- Outdoor, indoor, furnace, furnace confguration -->
    <div fxFlex="100" fxLayout="column">
      <mat-card-subtitle>
        <div fxLayout="row column" fxLayoutAlign="space-between center" class="model-nrs" fxLayoutGap="16px grid">
          <div fxFlex="25">
            <mat-form-field class="example-full-width">
              <mat-label>Outdoor</mat-label>
              <input matInput value='{{this.getComponentByComponentType(card.result!.components, "Outdoor unit").sku}}' readonly="">
            </mat-form-field>
          </div>
          <ng-container *ngFor="let cardComponent of Object.keys(card.cardComponents)">
            <div fxFlex="25"  *ngIf="cardComponent != 'Outdoor unit'">
              <mat-form-field class="rc-select-multiline">
                  <mat-select [value]="this.getComponentByComponentType(card.result!.components, cardComponent).title" placeholder="{{cardComponent}}" (selectionChange)="filterByID($event.value, cardComponent)">
                  <mat-option  class="rc-select-multiline-option" value="reset" disabled="true"> Plese select an option</mat-option>
                  <mat-option class="rc-select-multiline-option" *ngFor="let component of card.cardComponents[cardComponent]" [value]="component.title">
                    <b>{{component.title}}</b>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
          
          <!-- card configurations -->
          <div fxFlex="25" *ngFor="let cardConfiguration of Object.keys(card.cardConfigurations)">
            <mat-form-field class="rc-select-multiline">
              <mat-select [value]="card.result!.configurationOptions[0].id" placeholder="{{cardConfiguration}}" (selectionChange)="filterByConfigurationOptions($event.value, cardConfiguration)">
                <mat-option  class="rc-select-multiline-option" value="reset" disabled="true"> Plese select an option</mat-option>
                <mat-option class="rc-select-multiline-option" *ngFor="let configuration of card.cardConfigurations[cardConfiguration]" [value]="configuration.value">
                  <b>{{configuration.name}}</b>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
        </div>
      </mat-card-subtitle>
    </div>
  </div>

  <!-- Card Content -->  
  <mat-card-content>
    <div fxLayout="row column" fxLayoutAlign="start" fxLayoutGap="16px grid">
      <!-- AHRI ratings -->
      <div fxFlex="60" fxLayout="column">
        <h4 class="section-title">AHRI Ratings</h4>
        <div fxLayout="row column" fxLayoutAlign="start stretch" fxLayoutAlign.sm="center stretch" fxLayoutAlign.xs="center center" fxLayoutGap="12px grid">
          <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let ratings of card.result!.AHRIRatings" class="">
            <div class="ahri-ratings">
                <div *ngFor="let key of Object.keys(ratings)">
                  <span class="key">{{key}} :</span>
                  <span class="rating">{{ratings[key] || 'N/A'}}</span>
                </div>
            </div>
          </div>        
        </div>
      </div>
      <div fxFlex="40" fxLayout="column">
        <h4 class="section-title">Rebate eligibility</h4>
        <div class="rc-rebates">
          <ul class="rc-unlisted list">
            <li *ngFor="let rebate of card.result!.rebateEligibility">              
              <span class="title"> 
                <mat-icon class="available" *ngIf="rebate.isEligibile">check_circle</mat-icon>
                <mat-icon *ngIf="!rebate.isEligibile">cancel</mat-icon>
                {{rebate.title}}
              </span>
              <span class="description">{{rebate.description}}</span>
            </li>
            
          </ul>
        </div>
      </div>
    </div>



  </mat-card-content>
  <!-- ./Card Content -->

  <!-- Card Footer --> 
  <mat-card-actions>
    <div fxLayout="row column" fxLayoutAlign="end center" fxLayoutAlign.xs="center center" fxLayoutGap="16px grid">
      <div>
        <button mat-button class="rc-card-btn accent" fxLayout fxLayoutAlign="center center" (click)="openDialog()">
          VIEW IN TABLE
          <mat-icon> table_chart</mat-icon>
        </button>
      </div>
      <div>
        <button mat-button class="rc-card-btn primary" fxLayout fxLayoutAlign="center center"  target="_blank">
          VIEW DETAIL
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div>
        <button mat-button class="rc-card-btn warn">ADD TO CART <mat-icon>add_shopping_cart</mat-icon></button>
      </div>
    </div>
  </mat-card-actions>
  <!-- ./Card Footer --> 

</mat-card>