/* ::ng-deep used to force a style down to child components*/
::ng-deep .results .rc-card {
  margin-bottom: 1rem;
  padding: 1.5rem !important;
  box-shadow: none;
  border: 1px solid #c5c5c5;
  background-color: #ffffff;
}

/*header card*/
::ng-deep .results .rc-card .mat-card-title{
  margin-bottom: 0;
}
::ng-deep .results .rc-card .mat-card-title span{
  font-size: 20px;
  font-weight: bold;
  color: var(--rc-text-color);
  text-transform: uppercase;
}
::ng-deep .results .rc-card .rc-card-header{
  padding-bottom: .5rem;
}

/*Revisar esta clase*/
::ng-deep .results .rc-card .model-nrs {
  width: 100%;
  padding-bottom: 6px;
}
::ng-deep .results .rc-card .mat-card-subtitle{
  padding-top: 1.25em!important;
  padding-bottom: 0 !important;
  border-bottom: 1px solid #F2F2F2;
  border-top: 1px solid #F2F2F2;
}
@media only screen and (max-width: 767px){
  
  ::ng-deep .results .rc-card .mat-card-subtitle{
    margin-bottom: .25rem !important;
  }
}
::ng-deep .results .rc-card .mat-card-header-text{
  width: 100% !important;
  margin: 0;
  min-width: 98%;
}  
::ng-deep .results .rc-card .mat-card-header .mat-card-subtitle{
  margin-bottom: 5px !important;
}  
::ng-deep .results .rc-card .available-rebates ul.rc-unlisted li{
  font-size: 12px;
  padding-left: 2rem;
}
::ng-deep .results .rc-card .rebate-price{
  position: relative;
  margin: .75rem;
  color: var(--rc-accent-color);
  text-align: center;
  height: 100%;
  font-size: 24px;
}
::ng-deep .results .rc-card p.rc-small {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #2f4f4f;
}
::ng-deep .results .rc-card p.outdoor-nb{
  margin-bottom: 0;
}
::ng-deep .results .rc-card .rebate-price h1{
  font-family: 'Bitter', serif !important;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}

@media screen and (min-width: 960px) and (max-width: 1199px){
  ::ng-deep .results .rc-card .rebate-price h1{
    font-size: 24px;
  }
}
@media screen and (max-width: 959px){
  ::ng-deep .results .rc-card .rebate-price{
    padding: 1rem;
    margin-left: 10px;
  }
  ::ng-deep .results .rc-card .rebate-price h1{
    font-size: 26px;
  }
}
@media screen and (max-width: 599px){
  ::ng-deep .results .rc-card .rebate-price{
    margin-top: 10px;
    margin-left: 0;
  }
  ::ng-deep .results .rc-card .mat-card-header .mat-card-subtitle .model-nrs {
    padding-top: .5rem;
  }
}

/*Content*/
::ng-deep .results .rc-card .mat-card-content{
  margin: 0.25rem 0!important;
}
::ng-deep .results .rc-card .mat-card-content span.rc-small{
    color: rgba(0,0,0,.54);
}
@media screen and (max-width: 599px){
  .list-rebates{
    margin: 1rem 0;
  }
}
::ng-deep .results .rc-card .mat-card-content .rating-container{
}
::ng-deep .results .rc-card .mat-card-content .rating-container .ahri-ratings{
  font-size: 12px;
  line-height: 20px;
  padding: 4px 8px;
  background-color: #fbfbfb;
  border-radius: 4px;
}
::ng-deep .results .rc-card .mat-card-content .rating-container .ahri-ratings .item-rating{
  padding: 1px;
}
.ahri-ratings .key{
  color: #999999;
  padding-left: 5px;
}
/* New Ratings */
::ng-deep .results .rc-card .mat-card-content .rating-container.new .ahri-ratings{
  background-color: #F2F8FD;
}
::ng-deep .results .rc-card .mat-card-content .rating-container.new .ahri-ratings h5{
  color:var(--rc-primary-color);
}
/* Old Ratings */
::ng-deep .results .rc-card .mat-card-content .rating-container.old .ahri-ratings{
  background-color: #FBF7F1;
}
::ng-deep .results .rc-card .mat-card-content .rating-container.old .ahri-ratings h5{
  color:var(--rc-accent-color);
}
/*button toggle*/
::ng-deep .results .rc-card .mat-card-content .ahri-ratings .rating-toggle {
  padding: 0.5rem 0.15rem;
}
::ng-deep .results .rc-card .mat-card-content .rating-container .rating-toggle button{
  line-height: 20px;
  font-size: 10px;
  margin: 6px 0;
  padding: 1px 6px;
}
::ng-deep .results .rc-card .mat-card-content .rating-container.new .rating-toggle button{
  background-color: #FBF7F1;
  border: 1px solid #FFBC59;
  color: #FFBC59;
}
::ng-deep .results .rc-card .mat-card-content .rating-container.old .rating-toggle button{
  background-color: #F2F8FD;
  border: 1px solid var(--rc-primary-color);
  color: var(--rc-primary-color);
}

.ahri-ratings .rating{
  color: var(--rc-text-light-color);
  font-weight: 600;
  padding-left: 0.5rem;
}
::ng-deep .results .rc-card .mat-card-content .section-title {
  color: #999999;
  font-weight: 400;
}

/*Rebates List*/
::ng-deep .results .rc-card .mat-card-content .mat-expansion-panel{
  background: #F8F8F8;
  margin-bottom: 0.75rem !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}
::ng-deep .results .rc-card .mat-card-content .mat-expansion-panel .mat-expansion-panel-header{
  padding: .5rem;
  height: auto;
}
::ng-deep .results .rc-card .mat-card-content .mat-expansion-panel .mat-expansion-panel-header .mat-expansion-panel-header-title{
  font-size: 12px;
  font-weight: 500;  
  line-height: 14px;
}
::ng-deep .results .rc-card .mat-card-content .mat-expansion-panel .mat-expansion-panel-header .mat-expansion-panel-header-title .mat-icon{
  font-size: 16px;
  height: 16px;
  width: 16px;
  padding-right: 4px;
  color: #c01313;
}
::ng-deep .results .rc-card .mat-card-content .mat-expansion-panel .mat-expansion-panel-header .mat-expansion-panel-header-title .mat-icon.available{
  color: #13c013;
}
::ng-deep .results .rc-card .mat-card-content .mat-expansion-panel .mat-expansion-panel-header.mat-expanded{
  border-bottom: 1px solid #D7D7D7;
  height: auto;
}
::ng-deep .results .rc-card .mat-card-content .mat-expansion-panel .mat-expansion-panel-header .mat-expansion-panel-header-description{
  background-color: #E1ECF8;
  border-radius: 4px;
  color:var(--rc-primary-color);
  padding: 0 0.5rem;
  font-weight: bold;
}  
::ng-deep .results .rc-card .mat-card-content .mat-expansion-panel .mat-expansion-panel-body{
  padding: .5rem;
}
::ng-deep .results .rc-card .mat-card-content .mat-expansion-panel .mat-expansion-panel-body p.description{
  color: #606060;
  margin-bottom: .5rem;font-size: 11px;
  line-height: 14px;
}
.rc-unlisted.link-rebates a{
  padding-left: 1rem;
  color: var(--rc-primary-color);
  font-size: 12px;
}
.rc-unlisted.link-rebates .mat-icon{
  position: absolute;
  left: .6rem;
  transform: rotate(315deg);
  font-size: 1rem;
}


/*Card buttons*/
::ng-deep .results .rc-card .rc-card-btn{
  color: white;
}  
::ng-deep .results .rc-card .rc-card-btn.warn {
  background: var(--rc-warn-color);
}
::ng-deep .results .rc-card .rc-card-btn.primary {
    background: var(--rc-primary-color);
}  
::ng-deep .results .rc-card .rc-card-btn.accent {
    background: var(--rc-accent-color);
}

/*Card Actions*/  
::ng-deep .results .rc-card mat-card-actions{
  padding-right: .5rem;
}

/* Start Change style to input combo box */
::ng-deep .results .rc-card .model-nrs mat-form-field{
  display: block;
}

/*Style to select options in indoor unit and furnace*/
/*no used yet*/
::ng-deep .rc-select-multiline-option{
  white-space: initial !important;
  line-height: 22px !important;
  height: auto !important;
  padding: 0.15rem 0.5rem;
}
::ng-deep .rc-select-multiline-option .mat-option-text, .rc-select-multiline .mat-select-value-text .mat-select-min-line{
  font-size: 12px;
  line-height: 24px;
}
::ng-deep .rc-select-multiline-option .mat-option-text .price{
  margin-left: 0.25rem;
  background-color: rgba(0, 114, 5, 0.09);
  padding: 0 0.25rem;
  color: #007205;
  font-weight: bold;
}
::ng-deep .rc-select-multiline-option .mat-select-value{
  white-space: normal;
}
/* Custom class to highlight rebate*/

::ng-deep .results .rc-card .bold{
  font-weight: bold;
}