<mat-card class="rc-card results">

  <div fxLayout="row column" fxLayoutAlign="center start" fxLayoutGap="16px grid">
    <div fxFlex="70" fxFlex.sm="100" fxFlex.xs="100">
      <mat-card-header>
        <mat-card-title>
          <span class="title">{{this.getComponentByComponentType(card.result!.components, "Outdoor unit").title}}</span>
        </mat-card-title>
        <!-- Outdoor, indoor, furnace, furnace confguration -->
        <mat-card-subtitle>
          <div fxLayout="row column" fxLayoutAlign="space-between center" class="model-nrs" fxLayoutGap="4px grid">
            <div fxFlex="33">
              <mat-form-field class="example-full-width">
                <mat-label>Outdoor</mat-label>
                <input matInput value="25HBC524AP03" readonly="">
              </mat-form-field>
            </div>
            <div fxFlex="33">
              <mat-form-field appearance="fill">
                <mat-label>Indoor Unit</mat-label>
                <mat-select>
                  <mat-option value="1"><b>FE4ANB003L00</b> FAN COIL VS MODULAR ALUM 3T </mat-option>
                  <mat-option value="2"><b>FE4ANB003L00</b> FAN COIL VS MODULAR ALUM 3T </mat-option>
                  <mat-option value="3"><b>FE4ANB003L00</b> FAN COIL VS MODULAR ALUM 3T </mat-option>
                  <mat-option value="4"><b>FE4ANB003L00</b> FAN COIL VS MODULAR ALUM 3T </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="33">
              Furnace
            </div>
          </div>
        </mat-card-subtitle>
      </mat-card-header>
    </div>
    <div fxFlex="30" fxFlex.sm="70" fxFlex.xs="100" fxLayout="column" class="rc-show rc-hide-md rc-hide-sm rebates-amount">
      <div fxLayout="column" fxLayoutAlign="space-between center" fxLayout.sm="row" fxLayoutAlign.sm="space-between center"   fxLayout.xs="column">
        <div  fxFlex="100" fxFlex.sm="60" fxFlex.xs="100" class="available-rebates">
          
          <p class="rc-small"><b>AVAILABLE REBATES</b></p>
          
          <!--TODO: Available Rebates -->
        </div>
        <div fxFlex="100" fxFlex.sm="40" fxFlex.xs="100" class="rebate-price" fxLayout="row" fxFlexAlign="center center">
            <!--<div *ngFor="let rebates of card.availableRebates">
              {{rebates | json}}
            </div>-->
              <div fxFlex="100">
                <h1>{{(card.result!.availableRebateAmount| currency) || "$0.00"}}</h1>
              </div>
          </div>
      </div>
    </div>
  </div> 



  <!-- Card Content -->  
  <mat-card-content>
    <!-- AHRI ratings -->
    <h4>AHRI Ratings</h4>
    <div fxLayout="row column" fxLayoutAlign="start stretch" fxLayoutAlign.sm="center stretch" fxLayoutAlign.xs="center center" fxLayoutGap="12px grid">
      <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let ratings of card.result!.AHRIRatings" class="">
        <div class="ahri-ratings">
            <div *ngFor="let key of Object.keys(ratings)">
              <b style="padding-right: 8px;">{{key}} :</b>
              {{ratings[key]}}
            </div>
        </div>
      </div>        
    </div>
  </mat-card-content>
  <!-- ./Card Content -->

  <!-- Card Footer --> 
  <mat-card-actions>
    <div fxLayout="row column" fxLayoutAlign="end center" fxLayoutAlign.xs="center center" fxLayoutGap="16px grid">
      <div>
        <button mat-button class="rc-card-btn accent" fxLayout fxLayoutAlign="center center" (click)="openDialog()">
          VIEW IN TABLE
          <mat-icon> table_chart</mat-icon>
        </button>
      </div>
      <div>
        <button mat-button class="rc-card-btn primary" fxLayout fxLayoutAlign="center center"  target="_blank">
          VIEW DETAIL
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div>
        <button mat-button class="rc-card-btn warn">ADD TO CART <mat-icon>add_shopping_cart</mat-icon></button>
      </div>
    </div>
  </mat-card-actions>
  <!-- ./Card Footer --> 

</mat-card>