<mat-card class="rc-card results">

  <div fxLayout="row column" fxLayoutAlign="space-between start" fxLayoutGap="16px grid">
    <div fxFlex="70" fxFlex.sm="100" fxFlex.xs="100">
      <mat-card-header>
        <mat-card-title>
          <h3>{{this.getComponentByComponentType(card.components, "Outdoor unit").title}}</h3>
        </mat-card-title>

        <mat-card-subtitle>
          <div fxLayout="row column" fxLayoutAlign="space-between center" class="model-nrs" fxLayoutGap="4px grid">

            <div fxFlex="100" *ngFor="let cardComponent of Object.keys(card.cardComponents)">
              <div *ngIf="cardComponent != 'Outdoor unit'">
                <span class="rc-small"><b>{{cardComponent}}</b></span>
                <mat-form-field class="rc-select-multiline"> 
                  <mat-select [value]="this.getComponentByComponentType(card.components, cardComponent).title"  (selectionChange)="filterByID($event.value, cardComponent)">
                    <mat-option class="rc-select-multiline-option" *ngFor="let component of card.cardComponents[cardComponent]" [value]="component.title">
                      <b>{{component.title}}</b>
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
            </div>
          </div>

        </mat-card-subtitle>
      </mat-card-header>
    </div>


    <div fxFlex="30" fxFlex.xs="100" fxLayout="column" class="rc-show rc-hide-md rc-hide-sm">
      <div fxFlex="100" class="rebate-price" fxLayout="row" fxLayoutAlign="center center">
        <h5 class="rc-small">REBATES UP</h5>
        <h1>{{(card.availableRebateAmount| currency) || "$0.00"}}</h1>
      </div>
    </div>
  </div>

  
  <mat-card-content>
    <!--TODO: Available Rebates -->
    <div *ngFor="let rebates of card.availableRebates">
      {{rebates | json}}
    </div>

    <!--AHRI ratings-->
    <div *ngFor="let ratings of card.AHRIRatings" style="border: 1px solid red;">
      
      <div *ngFor="let key of Object.keys(ratings)">
        {{key}}: {{ratings[key]}}
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row column" fxLayoutAlign="end center" fxLayoutGap="16px grid">
      <div>
        <button mat-button class="rc-table-button" fxLayout fxLayoutAlign="center center" (click)="openDialog()">
          VIEW IN TABLE
          <mat-icon> table_chart</mat-icon>
        </button>
      </div>
      <div>
        <button mat-button class="rc-detail-button" fxLayout fxLayoutAlign="center center"  target="_blank">
          VIEW DETAIL
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div>
        <button mat-button class="rc-card-button">ADD TO CART <mat-icon>add_shopping_cart</mat-icon></button>
      </div>
    </div>
  </mat-card-actions>
  <!--{{card | json}}-->

</mat-card>