 <form [formGroup]="utilityProvidersForm" class="rc-form">

    <mat-form-field appearance="fill">
        <mat-label>Electric Utility</mat-label>
        <mat-select #sGroup formControlName="electricUtilityId">
            <mat-option *ngFor ="let electricProvider of electricProviders" [value]="electricProvider.utilityProviderId" radioGroup="sGroup">{{electricProvider.title}}</mat-option>
            <mat-option [value]="0" radioGroup="sGroup">Other or N/A</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Gas / Oil Utility</mat-label>
        <mat-select #sGroup formControlName="fossilFuelUtilityId" >
            <mat-option *ngFor ="let fossilFuelProvider of fossilFuelProviders" [value]="fossilFuelProvider.utilityProviderId" radioGroup="sGroup">{{fossilFuelProvider.title}}</mat-option>
            <mat-option [value]="0" radioGroup="sGroup">Other or N/A</mat-option>
        </mat-select>
    </mat-form-field>

</form>