/*Report*/
.rc-report{
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    background-color: white;
    padding: 2rem 1rem;
    margin: 1rem 0;
}
.rc-report .title{
    text-align: start;
    border: 1px solid #f3f3f3;
    border-left: none;
    border-right: none;
    padding: 2rem 1rem;
}
.logo{
    text-align: end;
}
.model-numbers,.ahri-ratings, .elegible-rebates{
    padding: 1rem;
}
.subtitle{
    color: var(--rc-text-light-color);
    font-weight: bold;
    margin-bottom: .5rem;
}
.item-rating, .item-numbers{
    line-height: 1.7rem;
}
.item-rating:nth-child(odd){
    background-color: #fbfbfba3;
  }
.item-rating .key, .item-numbers .key{
    color: #8f8f8f;
    font-size: 13px;
}
.item-rating .rating, .item-numbers .rating{
    color: var(--rc-text-light-color);
    font-weight: 500;
}
.item-numbers .rating .description{
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    text-transform: uppercase;
}
.rebate{
    position: relative;
    margin-bottom: 0.45rem;
    border-radius: 5px;
}
@media print {
    @page {
        margin-top: auto;
        margin-bottom: auto;
    }
    .rc-report{
        border: none;
        background-color:transparent;
        padding: 0;
        margin-top: 0;
        font-size: 12px;
    }
    .ahri-ratings{
        padding: auto !important;
    }
    .item-rating, .item-numbers{
        margin-bottom: 0; 
        border-top: 1px solid #f3f3f3;
        border-right: 1px solid #f3f3f3;
        border-left: 1px solid #f3f3f3;
        padding: 0 0 0 1rem;
    }
    .item-rating:last-child, .item-numbers:last-child{
        border-bottom: 1px solid #f3f3f3;
    }
    .item-rating .key, .item-numbers .key{
        font-size: 10px;
    }
    .item-rating .rating, .item-numbers .rating{
        font-weight: bold;
    }
    .item-numbers .rating .description, .rebate .description{
        font-size: 10px;
    }
    .print-btn{
        display: none !important;
    }
    .logo img{
        width: 130px;
    }
}