<div class="rc-container">
  <div class="rc-report">
    <div fxLayout="row" fxLayoutAlign="end center">
      <div fxFlex="80" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" class="title">
        <h3>REBATE CALCULATOR</h3>
      </div>
      <div fxFlex="20" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" class="logo">
        <img src="./assets/images/logo-dcne.svg" alt="logo DCNE" >
      </div>
    </div>
    <!-- Report Title -->
    <div class="title">
      <h2>{{this.getComponentByComponentType(result!.components, "Outdoor unit").description}}</h2>
      <h4>{{this.getComponentByComponentType(result!.components, "Outdoor unit").title}}</h4>
    </div>
    <!-- Model numbers -->
    <div fxLayout="row column" fxLayoutAlign="center center" class="model-numbers">
      <div fxFlex="100">
        <h4 class="subtitle">MODEL NUMBERS</h4>
      </div>
      <div fxFlex="100">
        <div fxLayout="row column" *ngFor="let component of result!.components" class="item-numbers">
          <span fxFlex="20" fxFlex.xs="100" fxFlex.sm="30" fxFlex.md="30" class="key">{{component.componentType}}:</span>
          <span fxFlex="80" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="70" class="rating">{{component.title}} <span class="description" *ngIf="component.description">({{component.description}})</span></span>
        </div>
      </div>
    </div>
    <!-- AHRI Ratings -->
    <div fxLayout="row column" fxLayoutAlign="center start" class="ahri-ratings">
      <div fxFlex="100">
        <h4 class="subtitle">AHRI RATINGS</h4>
      </div>
      
      <div fxFlex="100">
        <div fxLayout="row column" fxLayoutGap="16px grid">
          <div fxFlex="50" *ngFor="let ratings of result!.AHRIRatings">
            <div fxLayout="row column" *ngFor="let key of Object.keys(ratings)" class="item-rating">
              <span fxFlex="50" fxFlex.xs="100" class="key">{{key | prettify}}</span>
              <span fxFlex="50" fxFlex.xs="100" class="rating">{{ratings[key] || 'N/A'}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Aviable Rebates -->  
    <div fxLayout="row column" fxLayoutAlign="space-around center" class="elegible-rebates">
      <div fxFlex="100">
        <h4 class="subtitle">REBATE ELIGIBILITY</h4>
      </div>
      <div fxFlex="100" class="rebate">
        <div>
          <ul>
            <li *ngFor="let rebate of result!.rebateEligibility">
              <span>{{rebate.title}}</span>
              <span class="description">{{rebate.description}} [<span *ngIf="rebate.isEligible else not_eligible">ELIGIBLE</span> <ng-template #not_eligible>NOT ELIGIBLE</ng-template>]
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Print button -->
    <div fxLayout="column" fxLayoutAlign="center end" class="print-btn">
      <button type="button" mat-raised-button color="primary" (click)="printDocument()">
          Print
          <mat-icon>print</mat-icon>
      </button>
    </div>
  </div>
</div>