<!--- Title -->
<h2 class="rc-main-title">Location</h2>

<div fxLayout="row column" fxLayoutAlign="center">
    <div fxFlex="25" fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxLayoutGap="20">
        <form [formGroup]="locationForm" class="rc-form">

            <mat-form-field appearance="fill">
                <input type="text" matInput placeholder="State" formControlName="state" aria-label="Number" [matAutocomplete]="auto"/>
                <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn.bind(this)"  (optionSelected)="ChangeState()">
                    <mat-option *ngFor="let state of filteredStates | async" [value]="state.abbreviation">{{state.name}}</mat-option>
                </mat-autocomplete>
            </mat-form-field>

        </form>
    </div>
</div>
