<form [formGroup]="locationForm" class="rc-form">

  <mat-radio-group #stateIdGroup formControlName="state" class="rc-radio-img">
    <div fxLayoutAlign="center center" fxLayoutGap="20px grid">
      <mat-radio-button [value]="'ME'" radioGroup="stateIdGroup" fxFlex.xs="80" fxFlex.sm="34">
        <div style="text-align: center;">
          <img src="../../../../assets/images/icons/me.png" alt="" class="unchecked">
          <img src="../../../../assets/images/icons/me-active.png" alt="" class="checked">
          <p>ME</p>
        </div>
      </mat-radio-button>

      <mat-radio-button [value]="'NH'" radioGroup="stateIdGroup" fxFlex.xs="80" fxFlex.sm="34">
        <img src="../../../../assets/images/icons/nh.png" alt="" class="unchecked">
        <img src="../../../../assets/images/icons/nh-active.png" alt="" class="checked">
        <p>NH</p>
      </mat-radio-button>
      <mat-radio-button [value]="'MA'" radioGroup="stateIdGroup" fxFlex.xs="80" fxFlex.sm="34">
        <img src="../../../../assets/images/icons/ma.png" alt="" class="unchecked">
        <img src="../../../../assets/images/icons/ma-active.png" alt="" class="checked">
        <p>MA</p>
      </mat-radio-button>
      <mat-radio-button [value]="'RI'" radioGroup="stateIdGroup" fxFlex.xs="80" fxFlex.sm="34">
        <img src="../../../../assets/images/icons/ri.png" alt="" class="unchecked">
        <img src="../../../../assets/images/icons/ri-active.png" alt="" class="checked">
        <p>RI</p>
      </mat-radio-button>
    </div>
  </mat-radio-group>
  
</form>