<div fxFlex="100" class="rc-filters-selected">
    <div class="rc-f">
      <h5 class="rc-filter-group-title">My filters:</h5>
      <mat-chip-list aria-label="Applied filters">
        <ng-container>

          <ng-container >
            <ng-container >
              <mat-chip  *ngFor="let filter of listFilters" color="primary">
                {{filter}}
                <button matChipRemove (click)="DeactivateFilter(filter)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
            </ng-container>

          </ng-container>
          
        </ng-container>
      </mat-chip-list>
    </div>
  </div>



