<h1 mat-dialog-title>{{this.myData.method +' '+ this.myData.unitType | uppercase}}</h1>
   
    <form [formGroup]="systemForm">
        <!-- unit type is hidden because, we set the unit type in toolbox-->
        <mat-select formControlName="unitType" class="cdk-visually-hidden">              
            <mat-option radioGroup="sGroup" value="Outdoor unit">Outdoor unit</mat-option>
            <mat-option radioGroup="sGroup" value="Indoor unit">Indoor unit</mat-option>
            <mat-option radioGroup="sGroup" value="Furnace">Furnace</mat-option>
        </mat-select> 

        <div *ngIf="systemForm.get('unitType')!.value == 'Outdoor unit'">
            <mat-form-field appearance="fill">
                <mat-label>System Type</mat-label>
                <mat-select formControlName="systemType">     
                    <mat-option *ngFor ="let sysType of outdoorSystemTypes" [value]="sysType" radioGroup="sGroup">{{sysType}}</mat-option>
                </mat-select> 
            </mat-form-field> 

            <mat-form-field appearance="fill" *ngIf="systemForm.get('systemType')!.value == 'Split system' || systemForm.get('systemType')!.value == 'Mini-Split'">
                <mat-label>HVAC System Type</mat-label>
                <mat-select formControlName="HVACType">                
                    <mat-option radioGroup="sGroup" value="HP">HP</mat-option>
                    <mat-option radioGroup="sGroup" value="AC">AC</mat-option>  
                </mat-select> 
            </mat-form-field>
            
            <mat-form-field appearance="fill" *ngIf="systemForm.get('systemType')!.value == 'Small Packaged Unit'">
                <mat-label>HVAC System Type</mat-label>
                <mat-select formControlName="HVACType">                
                    <mat-option radioGroup="sGroup" value="AC + Gas Furnace">AC + Gas Furnace</mat-option>
                    <mat-option radioGroup="sGroup" value="HP + Gas Furnace">HP + Gas Furnace</mat-option>
                    <mat-option radioGroup="sGroup" value="HP Electric Heating && Cooling">HP Electric Heating && Cooling</mat-option>  
                </mat-select> 
            </mat-form-field>
        </div>

        <div *ngIf="systemForm.get('unitType')!.value == 'Indoor unit'">
            <mat-form-field appearance="fill">
                <mat-label>System Type</mat-label>
                <mat-select formControlName="systemType">                 
                    <mat-option *ngFor ="let sysType of indoorSystemTypes" [value]="sysType" radioGroup="sGroup">{{sysType}}</mat-option>              
                </mat-select> 
            </mat-form-field> 
        </div>

        <div *ngIf="(systemForm.get('unitType')!.value == 'Indoor unit') && (systemForm.get('systemType')!.value == 'Mini-Split indoor')">
            <mat-form-field appearance="fill">
                <mat-label>Ms Unit Type Style</mat-label>
                <mat-select formControlName="msIndoorUnitStyle">                 
                    <mat-option radioGroup="sGroup" value="Mini-Split Air Handler (Full Size)">Mini-Split Air Handler (Full Size)</mat-option>
                    <mat-option radioGroup="sGroup" value="Ducted Mini-Split Air Handler (Slim Style)">Ducted Mini-Split Air Handler (Slim Style)</mat-option>
                    <mat-option radioGroup="sGroup" value="Floor/Ceiling Mount">Floor/Ceiling Mount</mat-option>
                    <mat-option radioGroup="sGroup" value="Cassette">Cassette</mat-option>
                    <mat-option radioGroup="sGroup" value="High Wall">High Wall</mat-option>
                    <mat-option radioGroup="sGroup" value="1-Way Casette">1-Way Casette</mat-option>                    
                </mat-select> 
            </mat-form-field> 

            <mat-form-field appearance="fill">
                <mat-label>Cooling Capacity</mat-label>
                <mat-select formControlName="size">                 
                    <mat-option radioGroup="sGroup" [value]="6000">6000</mat-option>
                    <mat-option radioGroup="sGroup" [value]="9000">9000</mat-option>
                    <mat-option radioGroup="sGroup" [value]="12000">12000</mat-option>
                    <mat-option radioGroup="sGroup" [value]="18000">18000</mat-option>
                    <mat-option radioGroup="sGroup" [value]="24000">24000</mat-option>                    
                </mat-select> 
            </mat-form-field> 

            <mat-form-field appearance="fill">
                <mat-label>Quantity</mat-label>
                <mat-select formControlName="qty">                 
                    <mat-option radioGroup="sGroup" [value]="1">1</mat-option>
                    <mat-option radioGroup="sGroup" [value]="2">2</mat-option>
                    <mat-option radioGroup="sGroup" [value]="3">3</mat-option>
                    <mat-option radioGroup="sGroup" [value]="4">4</mat-option>
                    <mat-option radioGroup="sGroup" [value]="5">5</mat-option>                    
                </mat-select> 
            </mat-form-field>
        </div>

        <div *ngIf="systemForm.get('unitType')!.value == 'Furnace'">
            <mat-form-field appearance="fill">
                <mat-label>System Type</mat-label>
                <mat-select formControlName="systemType">                 
                    <mat-option radioGroup="sGroup" value="New ECM furnace">New ECM furnace</mat-option>
                    <mat-option radioGroup="sGroup" value="Existing or non-ECM furnace">Existing or non-ECM furnace</mat-option>       
                </mat-select> 
            </mat-form-field> 
        </div>
    </form>    

    

<div mat-dialog-actions [align]="'end'">    
    <button mat-raised-button mat-dialog-close class="rc-btn">CLOSE</button>
    <button style="margin-left: 8px;" mat-raised-button  (click)="addEditSystem()" class="rc-btn-primary">{{this.myData.method| uppercase}}</button>
</div>


