<!-- state -->
<form [formGroup]="stateGroup">
    <h2 class="rc-main-title">State</h2>
    <div fxLayout fxLayoutAlign="center">
      <div fxFlex="40" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="40" fxLayoutGap="20">
        <mat-form-field appearance="fill">
          <mat-label>Electric Utility</mat-label>
          <mat-select #sGroup formControlName="stateControl" (selectionChange)="submitInputs()">
            <mat-option *ngFor ="let state of states" value="{{state}}"  radioGroup="sGroup">
              {{state}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>



<!-- utility provider -->
<form [formGroup]="utilityGroup">
    <h2 class="rc-main-title">Utility Providers</h2>
    <div fxLayout fxLayoutAlign="center">
      <!-- User input -->
      <div fxFlex="40" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="40" fxLayoutGap="20">

       <!-- utilities -->
       <mat-form-field appearance="fill">
        <mat-label>Electric Utility</mat-label>
        <mat-select #sGroup formControlName="electricUtilityControl" (selectionChange)="submitInputs()">
          <mat-option *ngFor ="let elec of electricity; let i = index" [value]="electricity[i].utilityProviderId"  radioGroup="sGroup">
            {{electricity[i].title}}
          </mat-option>
          <mat-option  [value]="utilityOtherValue" radioGroup="sGroup">Other or N/A</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Gas / Oil Utility</mat-label>
        <mat-select #sGroup formControlName="fossilFuelUtilityIdControl" (selectionChange)="submitInputs()">
          <mat-option *ngFor ="let elec of fossilFuel; let i = index" [value]="fossilFuel[i].utilityProviderId" radioGroup="sGroup">
            {{fossilFuel[i].title}}
          </mat-option> 
          <mat-option   [value]="utilityOtherValue" radioGroup="sGroup">Other or N/A</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
    </div>
</form>
