<!--Title-->
<h2 class="rc-main-title">Location</h2>

<div fxLayout="row column" fxLayoutAlign="center">
  <div fxFlex="25" fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxLayoutGap="20">
    <form [formGroup]="locationForm" class="rc-form">
      <!-- state -->
      <h4 class="rc-page-subtitle">State</h4>
      <mat-form-field appearance="fill">
      <input type="text"
      matInput
      placeholder="State"
      formControlName="state"
      aria-label="Number"
      [matAutocomplete]="auto"/>

      <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn.bind(this)"  (optionSelected)="ChangeState()">
        <mat-option *ngFor="let state of filteredStates | async" [value]="state.abbreviation">
          {{state.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

      <!-- utility providers -->
      <h4 class="rc-page-subtitle">Utility Providers</h4>
      <div formGroupName="utilityProviders">
        <mat-form-field appearance="fill">
          <mat-label>Electric Utility</mat-label>
          <mat-select #sGroup formControlName="electricUtilityId" (selectionChange)="submitInputs()">
            <mat-option *ngFor ="let electricProvider of electricProviders" [value]="electricProvider.utilityProviderId" radioGroup="sGroup">
              {{electricProvider.title}}
            </mat-option>
            <mat-option  value="0" radioGroup="sGroup">Other or N/A</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Gas / Oil Utility</mat-label>
          <mat-select #sGroup formControlName="fossilFuelUtilityId" (selectionChange)="submitInputs()">
            <mat-option *ngFor ="let fossilFuelProvider of fossilFuelProviders" [value]="fossilFuelProvider.utilityProviderId" radioGroup="sGroup">
              {{fossilFuelProvider.title}}
            </mat-option> 
            <mat-option   value="0" radioGroup="sGroup">Other or N/A</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>