<form [formGroup]="DwellingInfoGroup">
    <!-- year -->
    <mat-label>Year the home was built or last renovated. If you don't know the exact year, enter approximate year.</mat-label>
    <input matInput placeholder="Heating BTUH" type="number" formControlName="year" required>


    <!-- grade stories -->
    <mat-label>Nr. of above grade stories</mat-label>
    <input matInput placeholder="Heating BTUH" type="number" formControlName="gradeStories" required>


    <!-- Nr. of bedrooms -->
    <mat-label>Nr. of bedrooms</mat-label>
    <input matInput placeholder="Heating BTUH" type="number" formControlName="nrBedrooms" required>


    <!-- Dwelling type -->
    <mat-label>Dwelling type</mat-label>
    <input matInput placeholder="Heating BTUH" type="number" formControlName="dwellingType" required>


    <!-- conditioned basement -->
    <mat-label>Dwelling type</mat-label>
    <input matInput placeholder="Heating BTUH" type="number" formControlName="conditionedBasement" required>
    <mat-form-field appearance="fill"  >
        <mat-label>Cooling tons</mat-label>
        <mat-select  #sGroup formControlName="coolingTons">
            <mat-option [value]="Yes" radioGroup="sGroup"> Yes </mat-option>
            <mat-option [value]="No" radioGroup="sGroup"> No  </mat-option>
        </mat-select>
    </mat-form-field>


    <!-- conditioned space over a garage -->
    <mat-label>Dwelling type</mat-label>
    <input matInput placeholder="Heating BTUH" type="number" formControlName="conditionedSpace" required>
    <mat-form-field appearance="fill"  >
        <mat-label>Cooling tons</mat-label>
        <mat-select  #sGroup formControlName="coolingTons">
            <mat-option [value]="yes" radioGroup="sGroup"> Yes </mat-option>
            <mat-option [value]="no" radioGroup="sGroup"> No  </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- skylights -->
    <mat-label>Dwelling type</mat-label>
    <input matInput placeholder="Heating BTUH" type="number" formControlName="skylights" required>
    <mat-form-field appearance="fill"  >
        <mat-label>Cooling tons</mat-label>
        <mat-select  #sGroup formControlName="coolingTons">
            <mat-option [value]="yes" radioGroup="sGroup"> Yes </mat-option>
            <mat-option [value]="no" radioGroup="sGroup"> No  </mat-option>
        </mat-select>
    </mat-form-field>
</form>

